{% extends "base.html" %}

{% block content %}

<div class="container">

    <h4>Products for order</h4>

    {{ formset.non_form_errors }}

    <form method="post">
    
    {% csrf_token %}
    <table width="450px"><tr>
    <td width="170px">Product</td> <td width="70px">Size</td> <td width="60px">Price £</td> <td width="60px">Stock</td> <td width="70px">Ord.Qty</td>
    </tr>
    </table>
    {% for frecord in formset %}
        <div class="form-group">
        {{ frecord }}
        </div>
    {% endfor %}    
    
    {{ formset.management_form }}
    <br>
    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
    <a class="btn btn-secondary" href="/home/">Return to Dashboard</a>
    </form>

</div>    


{% endblock %}