{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

<div class="container">

  <form method="POST">
    {% csrf_token %}


    <div class="form-group">
      <label for="resetPasswordNew">New Password</label>
      <input name="new_password1" type="password" class="form-control" id="resetPasswordNew" placeholder="New Password"
        required autofocus>
    </div>

    <div class="form-group">
      <label for="resetPasswordNewConf">Confirm New Password</label>
      <input name="new_password2" type="password" class="form-control" id="resetPasswordNewConf"
        placeholder="Confirm New Password" required>
    </div>

    <button type="submit" class="btn btn-primary" value="Login">Submit</button>
    <a class="btn btn-secondary" href="{% url 'home'%}">Cancel</a>

  </form>


  <ul>
    <li>Make sure your password is not similar to your other personal information.</li>
    <li>Your password must contain at least 8 characters.</li>
    <li>Your password shouldn't be a commonly used password i.e 123456789, password1 etc</li>
    <li>Your password can't be entirely numeric</li>
  </ul>

</div>


{% endblock %}