{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}

<div class="container">

  <h2>Forgotten your password</h2>

  <form method="POST">
    {% csrf_token %}

    <div class="form-group">
      <label for="editEmail">Email Password Reset</label>
      <input name="email" type="email" class="form-control" id="editEmail" placeholder="Email" required autofocus>
    </div>

    <button type="submit" class="btn btn-primary" value="Login">Submit</button>

    <a class="btn btn-secondary" href="{% url 'login'%}">Cancel</a>

  </form>


</div>
{% endblock %}