{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>Quote PDF</title>   
</head>

<body>
    <div class="header">
    <table>
        <tr>
            <td><img class="img--logo" src="{{frecords.0.document.url}}"></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><img class="img--checkatrade"  src="{{frecords.2.document.url}}">&nbsp; &nbsp;</td>
            <td><img class="img--worcester-bosch" src="{{frecords.5.document.url}}">&nbsp; &nbsp;</td>
            <td><img class="img--bosch"  src="{{frecords.6.document.url}}">&nbsp; &nbsp;</td>
            <td><img class="img--gassafe"  src="{{frecords.7.document.url}}">&nbsp;
            <td><div class="gas-safe-number">Gas Safe Number<br>570636</div></td>
        </tr>
    </table>
    <br>
    </div>

    <div class="orange-box">
        <table id="SalutAndRef">
            <tr>
                <td width=50%><div class="salutation">{{form_data.0.customer_title}} {{form_data.0.customer_last_name}}</div></td>
                <td width=50%><div class="your-reference">Your reference: {{ idx.quote_prefix }}-{{ idx.current_quote_number }}</div></td>
            </tr>
        </table>
        
        <div class="thankyou">Thank you for having <b>{{idx.first_name}} {{idx.last_name}}</b> visit you today. Please
            find your bespoke, fixed-price
            quotation for your brand new boiler. We estimate that your installation will take
            {{form_data.8.estimated_duration}}{% if form_data.8.estimated_duration == "1" %} day{% else %} days{% endif %}.</div>
        
        {% if alt_product_record %}
        <div class="product-details">
        {% else %}
        <div class="product-details-no-alt-product_details">
        {% endif %}
            <table>
                <tr>
                    <td><img class="product-image" src="{{img_record.document.url}}" /></td>
                    <td>
                        <div class="price-orange-box">
                            £{{product_record.price}} Inc. VAT
                        </div>
                        <div class="product-name">
                            <p>{{product_record.brand}}<br>
                                {{product_record.model_name}}</p>
                                <br>
                                <ul>
                                    <li>{{product_record.guarantee}}*</li>
                                    <li>Gas Safe Installation</li>
                                    <li>Interest Free Credit Available</li>
                                    <li>Option to Spread The Cost</li>
                                </ul>
                                
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        {% if alt_product_record %}
        <div class="alt-product-details">
            <table>
                <tr>
                    <td><img class="alt-product-image" src="{{alt_img_record.document.url}}" /></td>
                    <td>
                        <div class="price-orange-box">
                            £{{alt_product_record.price}} Inc. VAT
                        </div>
                        <div class="product-name">
                            <p>{{alt_product_record.brand}}<br>
                                {{alt_product_record.model_name}}</p>
                                <br>
                                <ul>
                                    <li>{{alt_product_record.guarantee}}*</li>
                                    <li>Gas Safe Installation</li>
                                    <li>Interest Free Credit Available</li>
                                    <li>Option to Spread The Cost</li>
                                </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        {% endif %}

    </div>

    <div class="rating-gray-box">
        Rated 9.9 out of 10 on Checkatrade<br>
        <sm>based on 350+ reviews</sm>
    </div>

    <div class="page1-lower">
        <div class="payment-options">Payment Options</div>
        <p>
        We understand that replacing your boiler is often unplanned and the extra expense can
        come as a surprise. We offer the ability to help you spread the cost with our finance options.
        </p>

        <table>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="headrow">APR %</td>
                <td class="headrow">Duration</td>
                <td class="headrow">Deposit</td>
                <td class="headrow">Loan Amount</td>
                <td class="headrow">Total Payable</td>
                <td class="headrow">Monthly Payment</td>
            </tr>
            <tr>
                <td class="headrow">Accelerated 1</td>
                <td class="midrow">9.9%</td>
                <td class="midrow">120 Months</td>
                <td class="midrow">£ {{ form_data.9.deposit_amount_thirty_percent|floatformat:2 }}<br>(Optional)</td>
                <td class="midrow">£ {{ form_data.9.ib120_loan_amount }}</td>
                <td class="midrow">£ {{ form_data.9.ib120_total_payable }}</td>
                <td class="endrow">£ {{ form_data.9.ib120_monthly_payment }}</td>
            </tr>
            <tr>
                <td class="headrow">Accelerated 2</td>
                <td class="midrow">9.9%</td>
                <td class="midrow">96 Months</td>
                <td class="midrow">£ {{ form_data.9.deposit_amount_thirty_percent|floatformat:2 }}<br>(Optional)</td>
                <td class="midrow">£ {{ form_data.9.ib96_loan_amount }}</td>
                <td class="midrow">£ {{ form_data.9.ib96_total_payable }}</td>
                <td class="endrow">£ {{ form_data.9.ib96_monthly_payment }}</td>
            </tr><tr>
                <td class="headrow">Accelerated 3</td>
                <td class="midrow">9.9%</td>
                <td class="midrow">60 Months</td>
                <td class="midrow">£ {{ form_data.9.deposit_amount_thirty_percent|floatformat:2 }}<br>(Optional)</td>
                <td class="midrow">£ {{ form_data.9.ib60_loan_amount }}</td>
                <td class="midrow">£ {{ form_data.9.ib60_total_payable }}</td>
                <td class="endrow">£ {{ form_data.9.ib60_monthly_payment }}</td>
            </tr>
            <tr>
                <td class="headrow">Accelerated 4</td>
                <td class="midrow">9.9%</td>
                <td class="midrow">48 Months</td>
                <td class="midrow">£ {{ form_data.9.deposit_amount_thirty_percent|floatformat:2 }}<br>(Optional)</td>
                <td class="midrow">£ {{ form_data.9.ib48_loan_amount }}</td>
                <td class="midrow">£ {{ form_data.9.ib48_total_payable }}</td>
                <td class="endrow">£ {{ form_data.9.ib48_monthly_payment }}</td>
            </tr>
            <tr>
                <td class="headrow">Accelerated 5</td>
                <td class="midrow">9.9%</td>
                <td class="midrow">36 Months</td>
                <td class="midrow">£ {{ form_data.9.deposit_amount_thirty_percent|floatformat:2 }}<br>(Optional)</td>
                <td class="midrow">£ {{ form_data.9.ib36_loan_amount }}</td>
                <td class="midrow">£ {{ form_data.9.ib36_total_payable }}</td>
                <td class="endrow">£ {{ form_data.9.ib36_monthly_payment }}</td>
            </tr>
            <tr>
                <td class="headrowx">Interest Free</td>
                <td class="midrow">0%</td>
                <td class="midrow">12 Months</td>
                <td class="midrow">£ {{ form_data.9.deposit_amount_thirty_percent|floatformat:2 }}</td>
                <td class="midrow">£ {{ form_data.9.interest_free_12m_loan_amount }}</td>
                <td class="midrow">£ {{ form_data.9.interest_free_12m_total_payable }}</td>
                <td class="endrow">£ {{ form_data.9.interest_free_12m_monthly_payment }}</td>
            </tr>
        </table>
        <br>
        <p>
        Other options available such as Buy Now Pay Later. Ask for details.<br>
        * Boiler must be serviced annually by YourHeat using our service plan. Ask for details.   
        </p>
    </div>


    <div class="footer">
        <hr>
    </div>


    <div class="break"></div>

    <!-- Page 2 -->
<div class="page-start"><br><br><br><br><br></div>

    <div class="light-blue-box">
        <br>
        <h2>Customer Details</h2>
        <hr>
        <br>
        <p><b>Installation Address</b><br>
            {{ form_data.1.house_name_or_number }} {{ form_data.1.street_address}}<br>
            {{ form_data.1.city }}, {{ form_data.1.county }}<br>
            {{ form_data.1.postcode }}
        </p>
        <br>
        <p><b>Contact Details</b><br>
            Name: {{form_data.0.customer_first_name }} {{form_data.0.customer_last_name }}<br>
            Primary Phone: {{ form_data.0.customer_primary_phone }}<br>
            {% if form_data.0.customer_secondary_phone %}
                Secondary Phone: {{ form_data.0.customer_secondary_phone }}<br>
            {% endif %}    
            Email: {{form_data.0.customer_email }}<br>
            Owner / Landlord / Tenant: {{form_data.0.owner_tenant_or_landlord }}<br>
            Property Type: {{form_data.1.property_type }}
        </p>
        <br>
    </div>
    <br>
    <div class="light-blue-box">
        <br>
        <h2>Fixed Price Promise</h2>
        <hr>
        <br>
        <p>
        This quotation is given on a fixed-price basis. That means you won't pay a penny more for all of the
        works detailed below, even if the work takes longer to complete.    
        </p>
        <br>
        <p>
        To discuss or accept your quotation, please call our office on <b>{{idx.telephone}}</b>, alternatively email
        <b>{{idx.email}}</b>
        </p>
        <br>
    </div>
    <br>
    <div class="light-blue-box">
        <br>
        <h2>Your Next Steps</h2>
        <hr>
        <br>
        <p>
        The Yourheat team will be in touch with you shortly to make sure you have everything you need to
        make an informed decision, in the mean time if you’d like to discuss your quote or need any further
        support please contact us.
        </p>
        <br>
    </div>

    <!-- End of Page 2 -->

    <div class="break"></div>

    <!-- Page 3 -->

    <div class="page-start"><br><br><br><br></div>

    <div class="tech-details">
        <table>
            <tr>
                <td class="tech-attrib">ADD BILLING ADDRESS?</td>
            </tr>
            <tr>    
                <td class="tech-value">
                    {% if form_data.1.alternative_billing_address == 'Yes' %}
                        {{ form_data.1.billing_house_name_or_number }} {{ form_data.1.billing_street_address}} &nbsp;
                        {{ form_data.1.billing_city }}, {{ form_data.1.billing_county }} &nbsp;
                        {{ form_data.1.billing_postcode }}
                    {% else %}
                        &bull; No
                    {% endif %}    
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td class="tech-title" colspan="3">Current System Configuration</td>
            </tr>
            <tr>
                <td class="tech-attrib">CURRENT FUEL TYPE</td>
                <td class="tech-attrib">CURRENT BOILER TYPE</td>
                <td class="tech-attrib">CURRENT BOILER LOCATION</td>
            </tr>
            <tr>    
                <td class="tech-value">{{form_data.2.current_fuel_type }}</td>
                <td class="tech-value">{{form_data.2.current_boiler_type }}</td>
                <td class="tech-value">{{form_data.2.current_boiler_location }}</td>
            </tr>
            <tr>
                <td class="tech-attrib">CURRENT FLUE</td>
                <td class="tech-attrib">CURRENT FLUE LOCATION</td>
                <td class="tech-attrib">CURRENT CONTROL SYSTEM</td>
            </tr>
            <tr>    
                <td class="tech-value">{{form_data.2.current_flue_system }}</td>
                <td class="tech-value">{{form_data.2.current_flue_location }}</td>
                <td class="tech-value">
                    {% for current_controls_item in form_data.2.current_controls  %}
                        &bull; {{ current_controls_item }}<br>
                    {% endfor %}
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td class="tech-attrib">CURRENT RADIATORS ALL WORKING CORRECTLY?</td>
            </tr>
            <tr>    
            {% if form_data.2.current_radiators_working_correctly == 'Yes' %}
                <td class="tech-value">{{ form_data.2.current_radiators_working_correctly }}</td>
            {% else %}
                <td class="tech-value">Not working in: 
                    {% for rooms in form_data.2.locations_where_radiators_not_working_correctly  %}
                        &bull; {{ rooms }}
                    {% endfor %}
                </td>
            {% endif %}    
            </tr>
        </table>

        <table>
            <tr>
                <td class="tech-title">Decommission and Removal</td>
            </tr>
            <tr>
                <td class="tech-attrib">REMOVALS</td>
            </tr>
            <tr>    
                <td class="tech-value">
                    {% for removal_item in form_data.3.removals %}
                    &bull; {{ removal_item }}
                        {% if removal_item == 'Radiators' %}
                            ({{ form_data.3.radiator_quantity }})
                        {% endif %}    
                    {% endfor %}
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="tech-title" colspan="3">New System Configuration</td>
            </tr>
            <tr>
                <td class="tech-attrib">NEW FUEL TYPE</td>
                <td class="tech-attrib">NEW BOILER TYPE</td>
                <td class="tech-attrib">NEW BOILER LOCATION</td>
            </tr>
            <tr>    
                <td class="tech-value">{{form_data.4.new_fuel_type }}</td>
                <td class="tech-value">{{form_data.4.new_boiler_type }}</td>
                <td class="tech-value">{{form_data.4.new_boiler_location }}</td>
            </tr>
            <tr>
                <td class="tech-attrib">NEW FLUE</td>
                <td class="tech-attrib">NEW FLUE LOCATION</td>
                <td class="tech-attrib">NEW FLUE DIAMETER</td>
            </tr>
            <tr>    
                <td class="tech-value">{{form_data.4.new_flue_system }}</td>
                <td class="tech-value">{{form_data.4.new_flue_location }}</td>
                <td class="tech-value">{{form_data.4.new_flue_diameter }}</td>
            </tr>
            <tr>
                <td class="tech-attrib">PLUME KIT</td>
                <td class="tech-attrib">CONDENSATE TERMINATION</td>
                <td class="tech-attrib">NEW CONTROLS</td>
            </tr>
            <tr>    
                <td class="tech-value">{{form_data.4.plume_management_kit }}</td>
                <td class="tech-value">{{form_data.4.condensate_termination }}</td>
                <td class="tech-value">
                    {% for new_controls_item in form_data.4.new_controls  %}
                        &bull; {{ new_controls_item }}<br>
                    {% endfor %}
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td class="tech-attrib">INCOMING FLOW RATE (LITRES/MIN)</td>
            </tr>
            <tr>    
                <td class="tech-value">{{ form_data.4.incoming_flow_rate }}</td>
            </tr>
        </table>

        <table>
            <tr>
                <td class="tech-attrib">WILL BOILER BE HOUSED IN A CUPBOARD?</td>
                {% if form_data.4.will_boiler_be_housed_in_cupboard == "Yes" %}
                    <td class="tech-attrib-cupb">H</td>
                    <td class="tech-attrib-cupb">W</td>
                    <td class="tech-attrib-cupb">D</td>
                {% endif %}
            </tr>
            <tr>    
                <td class="tech-value">{{ form_data.4.will_boiler_be_housed_in_cupboard }}</td>
                {% if form_data.4.will_boiler_be_housed_in_cupboard == "Yes" %}
                <td class="tech-value">{{form_data.4.cupboard_height }}mm</td>
                <td class="tech-value">{{form_data.4.cupboard_width }}mm</td>
                <td class="tech-value">{{form_data.4.cupboard_depth }}mm</td>
                {% endif %}
            </tr>
        </table>

            <table>
                <tr>
                    <td class="tech-title" colspan="2">Installation Requirements</td>
                </tr>
                <tr>
                    <td class="tech-attrib">CHEMICAL SYSTEM TREATMENT</td>
                    <td class="tech-attrib">GAS SUPPLY REQUIREMENTS</td>
                </tr>
                <tr>    
                    <td class="tech-value">{{form_data.5.chemical_system_treatment }}</td>
                    <td class="tech-value">{{form_data.5.gas_supply_requirements }}</td>
                </tr>
                <tr>
                    <td class="tech-attrib">GAS SUPPLY LENGTH</td>
                    <td class="tech-attrib">SCAFFOLDING REQUIRED?</td>
                </tr>
                <tr>
                    <td class="tech-value">{{form_data.5.gas_supply_length }}</td>    
                    <td class="tech-value">{{form_data.5.scaffolding_required }}</td>
                </tr>
                <tr>
                    <td class="tech-attrib">ASBESTOS CONTAINING MATERIALS (ACM) IDENTIFIED?</td>
                    <td class="tech-attrib">ASBESTOS REMOVAL PROCEDURE</td>
                </tr>
                <tr>    
                    <td class="tech-value">{{form_data.5.asbestos_containing_materials_identified }}</td>
                    <td class="tech-value">{{form_data.5.asbestos_removal_procedure }}</td>
                </tr>
                <tr>
                    <td class="tech-attrib">ELECTRICAL WORK REQUIRED</td>
                    {% if form_data.5.parking_requirements %}
                        <td class="tech-attrib">PARKING REQUIREMENTS</td>
                    {% endif %}    
                </tr>
                <tr>    
                    <td class="tech-value">{{form_data.5.electrical_work_required }}</td>
                    {% if form_data.5.parking_requirements %}
                        <td class="tech-value">{{form_data.5.parking_requirements }}</td>
                    {% endif %}    
                </tr>
                
            </table>

    </div>


    <!-- End of Page 3 -->

    <div class="break"></div>

    <!-- Page 4 -->

    <div class="page-start"><br><br><br><br></div>

    <div class="tech-details">

        <table>
            <tr>
                <td class="tech-title" colspan="2">New Installation Materials</td>
            </tr>
            <tr>
                <td class="tech-attrib">BOILER MANUFACTURER</td>
                <td class="tech-attrib">BOILER MODEL</td>
            </tr>
            <tr>    
                <td class="tech-value">{{form_data.4.boiler_manufacturer }}</td>
                <td class="tech-value">{{ product_record.model_name }}</td>
            </tr>
            <tr>
                <td class="tech-attrib" colspan="2">GAS FLUE COMPONENTS</td>
            </tr>
            <tr>    
                <td class="tech-value" colspan="2">
                    {% for gas_flue_component in form_data.6.gas_flue_components  %}
                    &bull; {{ gas_flue_component }}<br>
                    {% endfor %}
                </td>
            </tr>
            {% if form_data.4.plume_management_kit == 'Required' %}
                <tr>
                    <td class="tech-attrib" colspan="2">PLUME COMPONENTS</td>
                </tr>
                <tr>    
                    <td class="tech-value" colspan="2">
                        {% for plume_component in form_data.6.plume_components  %}
                        &bull; {{ plume_component }}<br>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td class="tech-attrib" colspan="2">PROGRAMMER / THERMOSTAT</td>
            </tr>
            <tr>    
                <td class="tech-value" colspan="2">
                    {% for prog in form_data.6.programmer_thermostat  %}
                    &bull; {{ prog }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="tech-attrib">CENTRAL HEATING SYSTEM FILTER</td>
                <td class="tech-attrib">SCALE REDUCER</td>
            </tr>
            <tr>    
                <td class="tech-value">{{form_data.6.central_heating_system_filter }}</td>
                <td class="tech-value">{{form_data.6.scale_reducer }}</td>
            </tr>
            <tr>
            <td class="tech-attrib" colspan="2">ADDITIONAL CENTRAL HEATING COMPONENTS</td>
            </tr>
            <tr>    
                <td class="tech-value" colspan="2">
                    {% for additional in form_data.6.additional_central_heating_components  %}
                    &bull; {{ additional }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="tech-attrib" colspan="2">CONDENSATE COMPONENTS</td>
            </tr>
            <tr>    
                <td class="tech-value" colspan="2">
                    {% for condensate in form_data.6.condensate_components  %}
                    &bull; {{ condensate }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="tech-attrib" colspan="2">ADDITIONAL COPPER REQUIRED</td>
            </tr>
            <tr>    
                <td class="tech-value" colspan="2">
                    {% for additional in form_data.6.additional_copper_required  %}
                    &bull; {{ additional }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="tech-attrib">FITTINGS PACKS</td>
                <td class="tech-attrib">BUILDING PACK REQUIRED</td>
            </tr>
            <tr>    
                <td class="tech-value">
                    {% for fittings in form_data.6.fittings_packs  %}
                    &bull; {{ fittings }}<br>
                    {% endfor %}
                </td>
                <td class="tech-value">
                    {% for packs in form_data.6.building_pack_required  %}
                    &bull; {{ packs }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="tech-attrib">ELECTRICAL PACK</td>
                <td class="tech-attrib">EARTH SPIKE REQUIRED</td>
            </tr>
            <tr>    
                <td class="tech-value">{{form_data.6.electrical_pack }}</td>
                <td class="tech-value">{{form_data.6.earth_spike_required }}</td>
            </tr>
            <tr>
                <td class="tech-attrib">ANY SPECIAL PARTS</td>
                <td class="tech-attrib">DOUBLED HANDED LIFT REQUIRED</td>
            </tr>
            <tr>    
                <td class="tech-value">
                    <table class="special-parts-table">
                        {% if form_data.6.special_part_1 %}
                        <tr>
                            <td width=>Part</td><td>Qty</td><td>Price</td>   
                           </tr>
                        <tr>
                         <td>{{form_data.6.special_part_1 }}</td><td>{{form_data.6.special_part_qty_1 }}</td><td>£{{form_data.6.special_part_price_1 }}</td>   
                        </tr>
                        {% endif %}
                        {% if form_data.6.special_part_2 %}
                        <tr>
                         <td>{{form_data.6.special_part_2 }}</td><td>{{form_data.6.special_part_qty_2 }}</td><td>£{{form_data.6.special_part_price_2 }}</td>   
                        </tr>
                        {% endif %}
                        {% if form_data.6.special_part_3 %}
                        <tr>
                         <td>{{form_data.6.special_part_3 }}</td><td>{{form_data.6.special_part_qty_3 }}</td><td>£{{form_data.6.special_part_price_3 }}</td>   
                        </tr>
                        {% endif %}
                    </table>
                </td>
                <td class="tech-value">{{form_data.6.double_handed_lift_required }}</td>
            </tr>
            
           
        </table>

    </div>

    <!-- End of Page 4 -->

    <div class="break"></div>

    <!-- Page 5 -->

    <div class="page-start"><br><br><br><br></div>

    <div class="tech-details">
        <table>
            <tr>
                <td class="tech-title" colspan="2">Radiator Requirements</td>
            </tr>
            <tr>    
                <td class="tech-value" colspan="2">
                    {% for radiator in form_data.7.radiator_specification  %}
                    &bull; {{ radiator }}
                    {% if radiator == 'Customer to Provide Radiators' %}
                        ({{ form_data.7.cust_supply_radiator_quantity }})
                    {% endif %}
                    <br>

                        {% if radiator == 'Radiator(s) Required' %}
                            <table class="radiator-table">
                                <tr>
                                <td>Location</td><td>Radiator</td>
                                {% if form_data.7.radiator_1 %}
                                    <tr>
                                        <td>{{form_data.7.location_2}}</td><td>{{form_data.7.radiator_1}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_2 %}
                                    <tr>
                                        <td>{{form_data.7.location_2}}</td><td>{{form_data.7.radiator_2}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_3 %}
                                    <tr>
                                        <td>{{form_data.7.location_3}}</td><td>{{form_data.7.radiator_3}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_4 %}
                                    <tr>
                                        <td>{{form_data.7.location_4}}</td><td>{{form_data.7.radiator_4}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_5 %}
                                    <tr>
                                        <td>{{form_data.7.location_5}}</td><td>{{form_data.7.radiator_5}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_6 %}
                                    <tr>
                                        <td>{{form_data.7.location_6}}</td><td>{{form_data.7.radiator_6}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_7 %}
                                    <tr>
                                        <td>{{form_data.7.location_7}}</td><td>{{form_data.7.radiator_7}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_8 %}
                                    <tr>
                                        <td>{{form_data.7.location_8}}</td><td>{{form_data.7.radiator_8}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_9 %}
                                    <tr>
                                        <td>{{form_data.7.location_9}}</td><td>{{form_data.7.radiator_9}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_10 %}
                                    <tr>
                                        <td>{{form_data.7.location_10}}</td><td>{{form_data.7.radiator_10}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_11 %}
                                    <tr>
                                        <td>{{form_data.7.location_11}}</td><td>{{form_data.7.radiator_11}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_12 %}
                                    <tr>
                                        <td>{{form_data.7.location_12}}</td><td>{{form_data.7.radiator_12}}</td>
                                    </tr>
                                {% endif %}
                                </tr>
                            </table>
                        {% endif %}

                        {% if radiator == 'Radiator(s) Required' or radiator == 'Thermostatic Radiator Valves Only' %}
                        &bull; Thermostatic Radiator Valves<br> 
                            <table class="radiator-table">
                                <tr>
                                <td>Radiator Valve</td><td>Qty</td>
                                {% if form_data.7.radiator_valve_1 %}
                                    <tr>
                                        <td>{{form_data.7.radiator_valve_1}}</td><td>{{form_data.7.radiator_valve_quantity_1}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_valve_2 %}
                                    <tr>
                                        <td>{{form_data.7.radiator_valve_2}}</td><td>{{form_data.7.radiator_valve_quantity_2}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_valve_3 %}
                                    <tr>
                                        <td>{{form_data.7.radiator_valve_3}}</td><td>{{form_data.7.radiator_valve_quantity_3}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_valve_4 %}
                                    <tr>
                                        <td>{{form_data.7.radiator_valve_4}}</td><td>{{form_data.7.radiator_valve_quantity_4}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_valve_5 %}
                                    <tr>
                                        <td>{{form_data.7.radiator_valve_5}}</td><td>{{form_data.7.radiator_valve_quantity_5}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_valve_6 %}
                                    <tr>
                                        <td>{{form_data.7.radiator_valve_6}}</td><td>{{form_data.7.radiator_valve_quantity_6}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_valve_7 %}
                                    <tr>
                                        <td>{{form_data.7.radiator_valve_7}}</td><td>{{form_data.7.radiator_valve_quantity_7}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_valve_8 %}
                                    <tr>
                                        <td>{{form_data.7.radiator_valve_8}}</td><td>{{form_data.7.radiator_valve_quantity_8}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_valve_9 %}
                                    <tr>
                                        <td>{{form_data.7.radiator_valve_9}}</td><td>{{form_data.7.radiator_valve_quantity_9}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_valve_10 %}
                                    <tr>
                                        <td>{{form_data.7.radiator_valve_10}}</td><td>{{form_data.7.radiator_valve_quantity_10}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_valve_11 %}
                                    <tr>
                                        <td>{{form_data.7.radiator_valve_11}}</td><td>{{form_data.7.radiator_valve_quantity_11}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.radiator_valve_12 %}
                                    <tr>
                                        <td>{{form_data.7.radiator_valve_12}}</td><td>{{form_data.7.radiator_valve_quantity_12}}</td>
                                    </tr>
                                {% endif %}
                                </tr>
                            </table>
                        {% endif %}

                        {% if radiator == 'Towel Rail(s) Required'  %}
        
                            <table class="radiator-table">
                                <tr>
                                <td>Location</td><td>Towel Rail</td>
                                {% if form_data.7.towel_rail_location_1 %}
                                    <tr>
                                        <td>{{form_data.7.towel_rail_location_1}}</td><td>{{form_data.7.towel_rail_1}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.towel_rail_location_2 %}
                                    <tr>
                                        <td>{{form_data.7.towel_rail_location_2}}</td><td>{{form_data.7.towel_rail_2}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.towel_rail_location_3 %}
                                    <tr>
                                        <td>{{form_data.7.towel_rail_location_3}}</td><td>{{form_data.7.towel_rail_3}}</td>
                                    </tr>
                                {% endif %}
                                {% if form_data.7.towel_rail_location_4 %}
                                    <tr>
                                        <td>{{form_data.7.towel_rail_location_4}}</td><td>{{form_data.7.towel_rail_4}}</td>
                                    </tr>
                                {% endif %}
                                
                                </tr>
                            </table>
                        {% endif %}

                    {% endfor %}
                </td>
            </tr>
        </table>
  
        <table>    
            <tr>
                <td class="tech-title" colspan="2">Installation Notes</td>
            </tr>
            <tr>
                <td class="tech-attrib" colspan="2">ESTIMATED INSTALLATION DURATION</td>
            </tr>
            <tr>    
                <td class="tech-value" colspan="2">{{form_data.8.estimated_duration }}{% if form_data.8.estimated_duration == "1" %} day{% else %} days{% endif %}</td>
            </tr>
            <tr>
                <td class="tech-attrib" colspan="2">DESCRIPTION OF WORKS</td>
            </tr>
            <tr>    
                <td class="tech-value" colspan="2">{{form_data.8.description_of_works|linebreaks }}</td>
            </tr>
            {% if form_data.8.optional_extras %}
            <tr>
                <td class="tech-attrib" colspan="2">OPTIONAL EXTRAS</td>
            </tr>
            <tr>
                <td class="tech-value" colspan="2">
                    <table class="optional-extras">
                        <tr>
                            <td width="60%">Product Description</th>
                            <td width="20%">Qty</th>
                            <td width="20%">Price (Inc VAT)</th>
                        </tr>
                        {% if form_data.8.extra_1 %}
                            <tr>
                                <td>{{form_data.8.extra_1}}</td><td>{{form_data.8.extra_qty_1}}</td><td>£{{optional_extra_extended_prices.0}}</td>
                            </tr>
                        {% endif %}
                        {% if form_data.8.extra_2 %}
                            <tr>
                                <td>{{form_data.8.extra_2}}</td><td>{{form_data.8.extra_qty_2}}</td><td>£{{optional_extra_extended_prices.1}}</td>
                            </tr>
                        {% endif %}
                        {% if form_data.8.extra_3 %}
                            <tr>
                                <td>{{form_data.8.extra_3}}</td><td>{{form_data.8.extra_qty_3}}</td><td>£{{optional_extra_extended_prices.2}}</td>
                            </tr>
                        {% endif %}
                        {% if form_data.8.extra_4 %}
                            <tr>
                                <td>{{form_data.8.extra_4}}</td><td>{{form_data.8.extra_qty_4}}</td><td>£{{optional_extra_extended_prices.3}}</td>
                            </tr>
                        {% endif %}
                        {% if form_data.8.extra_5 %}
                            <tr>
                                <td>{{form_data.8.extra_5}}</td><td>{{form_data.8.extra_qty_5}}</td><td>£{{optional_extra_extended_prices.4}}</td>
                            </tr>
                        {% endif %}
                        {% if form_data.8.extra_6 %}
                            <tr>
                                <td>{{form_data.8.extra_6}}</td><td>{{form_data.8.extra_qty_6}}</td><td>£{{optional_extra_extended_prices.5}}</td>
                            </tr>
                        {% endif %}
                        {% if form_data.8.extra_7 %}
                            <tr>
                                <td>{{form_data.8.extra_7}}</td><td>{{form_data.8.extra_qty_7}}</td><td>£{{optional_extra_extended_prices.6}}</td>
                            </tr>
                        {% endif %}
                        {% if form_data.8.extra_8 %}
                            <tr>
                                <td>{{form_data.8.extra_8}}</td><td>{{form_data.8.extra_qty_8}}</td><td>£{{optional_extra_extended_prices.7}}</td>
                            </tr>
                        {% endif %}
                        {% if form_data.8.extra_9 %}
                            <tr>
                                <td>{{form_data.8.extra_9}}</td><td>{{form_data.8.extra_qty_9}}</td><td>£{{optional_extra_extended_prices.8}}</td>
                            </tr>
                        {% endif %}
                        {% if form_data.8.extra_10 %}
                            <tr>
                                <td>{{form_data.8.extra_10}}</td><td>{{form_data.8.extra_qty_10}}</td><td>£{{optional_extra_extended_prices.9}}</td>
                            </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
            {% endif %}
        </table>

    </div>
    <!-- End of Page 5 -->

    <div class="break"></div>

    <!-- Page 6 -->

    <div class="page-start"><br><br><br><br><br></div>

    <div class="tech-details">
        <table>
            <tr>
                <td class="tech-title">Pricing</td>
            </tr>
            <tr>
                <td class="tech-attrib">TOTAL (PRICE INCLUSIVE OF VAT)</td>
            </tr>
            <tr>    
                <td class="tech-value">£{{product_record.price}}</td>
            </tr>
            <tr>
                <td class="tech-attrib">DEPOSIT REQUIRED</td>
            </tr>
            <tr>    
                <td class="tech-value">£{{ form_data.9.deposit_amount|floatformat:2 }}</td>
            </tr>
            <tr>
                <td class="tech-attrib">BALANCE DUE ON COMPLETION</td>
            </tr>
            <tr>    
                <td class="tech-value">£{{ form_data.9.ib120_loan_amount }}</td>
            </tr>
            {% if alt_product_record %}
            <tr>
                <td class="tech-attrib">ALTERNATIVE BOILER MANUFACTURER</td>
            </tr>
            <tr>    
                <td class="tech-value">{{alt_product_record.brand}}</td>
            </tr>
            <tr>
                <td class="tech-attrib">ALTERNATIVE BOILER MODEL</td>
            </tr>
            <tr>    
                <td class="tech-value">{{alt_product_record.model_name}}</td>
            </tr>
            <tr>
                <td class="tech-attrib">ALTERNATIVE BOILER PRICE</td>
            </tr>
            <tr>    
                <td class="tech-value">£{{alt_product_record.price}}</td>
            </tr>
            {% endif %}
            <br>
            <tr>    
                <td class="tech-value">
                    <table class="account-information">
                        <tr>
                            <td>
                                <p class="account-header">Account Information</p>
                                <br>
                                <p class="account-details">If you are paying a deposit to secure an installation, you can do so using the details below.</p>
                                <br>
                                <p class="account-details">Account Name: Your Heat LTD</p>
                                <br>
                                <p class="account-details">Account Number: 54576261</p>
                                <br>
                                <p class="account-details">Sort Code: 60-60-08</p>
                                <br>
                                <p class="account-details">All major debit and credit cards accepted - including AMEX</p>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="tech-attrib">Boiler 1: {{product_record.guarantee}} 
                    {% if alt_product_record %}
                        &nbsp;&nbsp;&nbsp;Boiler 2: {{alt_product_record.guarantee}}
                    {% endif %}
                </td>
            </tr>

        </table>
    </div>
    
     <!-- End of Page 7 -->

     <div class="break"></div>

     <!-- Page 8 (BOM) -->
 
     <div class="page-start"><br><br><br><br></div>

     <table>    
        <tr>
            <td class="tech-title">Components Summary Details</td>
        </tr>
        <tr>
            <td class="tech-attrib">(for internal Yourheat use only)</td>
        </tr>
     </table>
     <br>    

     <table id="bom">
         <tr>
             <th>Component Type</th>
             <th>Component</th>
             <th>Qty</th>
             <th>Price</th>
             <th>Ext Price</th>
             <th>Cost</th>
             <th>Duration</th>
         </tr>
         {% for component_type,outer_value in form_data.10.items %}
         {% if component_type|slice:"0:8" != "Radiator" and component_type|slice:"0:14" != "Radiator Valve" and component_type|slice:"0:10" != "Towel Rail" and component_type|slice:"0:12" != "Special Part" %}
         <tr>
             <td>{{ component_type }}</td>
                {% for elem in outer_value %}
                    {% for comp_name,comp_param in elem.items %}
                        <td>{{ comp_name }}</td>
                        {% for param in comp_param %}
                            <td>{{param}}</td>
                        {% endfor %}
                        {% if outer_value|length > 1  %}
                            </tr>
                        {% endif %}
                        
                        {% endfor %}
                        {% if forloop.counter != outer_value|length %}
                        <tr><td>&nbsp;</td>
                        {% endif %}

                {% endfor %}
            </tr>
        {% endif %}    
        {% endfor %}
        
     </table>   
     
    <!-- End of Page 8 -->

    <div class="break"></div>

    <!-- Page 9 (BOM - Radiators) -->
  
    <div class="page-start"><br><br><br><br><br></div>

    <table id="bom">
        <tr>
            <th>Component Type</th>
            <th>Component</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Ext Price</th>
            <th>Cost</th>
            <th>Duration</th>
        </tr>
        {% for component_type,outer_value in form_data.10.items %}
        {% if component_type|slice:"0:8" == "Radiator" or component_type|slice:"0:14" == "Radiator Valve" and component_type|slice:"0:10" == "Towel Rail" %}
        <tr>
            <td>{{ component_type }}</td>
               {% for elem in outer_value %}
                   {% for comp_name,comp_param in elem.items %}
                       <td>{{ comp_name }}</td>
                       {% for param in comp_param %}
                           <td>{{param}}</td>
                       {% endfor %}
                       {% if outer_value|length > 1  %}
                           </tr>
                       {% endif %}
                       
                       {% endfor %}
                       {% if forloop.counter != outer_value|length %}
                       <tr><td>&nbsp;</td>
                       {% endif %}

               {% endfor %}
           </tr>
       {% endif %}    
       {% endfor %}
    </table>

    <br>

    <table id="bom">
        <tr>
            <th>Component Type</th>
            <th>Component</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Ext Price</th>
            <th>Cost</th>
            <th>Duration</th>
        </tr>
        {% for component_type,outer_value in form_data.10.items %}
        {% if component_type|slice:"0:12" == "Special Part"  %}
        <tr>
            <td>{{ component_type }}</td>
               {% for elem in outer_value %}
                   {% for comp_name,comp_param in elem.items %}
                       <td>{{ comp_name }}</td>
                       {% for param in comp_param %}
                           <td>{{param}}</td>
                       {% endfor %}
                       {% if outer_value|length > 1  %}
                           </tr>
                       {% endif %}
                       
                       {% endfor %}
                       {% if forloop.counter != outer_value|length %}
                       <tr><td>&nbsp;</td>
                       {% endif %}

               {% endfor %}
           </tr>
       {% endif %}    
       {% endfor %}
      
    </table>
    <br>
    <div class="tech-details">
        <table>
            <tr>
                <td class="tech-title" colspan="2">Component Summary Totals</td>
            </tr>
            <tr>
                <td class="tech-attrib" colspan="2">COMPONENT PRICE TOTAL</td>
            </tr>
            <tr>    
                <td class="tech-value" colspan="2">£{{form_data.9.component_price_total}}</td>
            </tr>
            <tr>
                <td class="tech-attrib">COMPONENT DURATION SUMMARY TOTAL</td>
                <td class="tech-attrib">QUOTE DURATION ESTIMATE</td>
            </tr>
            <tr>    
                <td class="tech-value">{{form_data.9.component_duration_total}} hrs</td>
                <td class="tech-value">{{form_data.8.estimated_duration }}
                    {% if form_data.8.estimated_duration == "1" %} day{% else %} days{% endif %} - £{{ form_data.9.estimated_duration_cost}}
                </td>    
            </tr>
            <tr>
                <td class="tech-attrib" colspan="2">SURVEYORS NOTES</td>
            </tr>
            <tr>    
                <td class="tech-value" colspan="2">{{form_data.8.surveyors_notes }}</td>
            </tr>
            <tr>
                <td class="tech-attrib" colspan="2">POTENTIAL CONTRACTOR ATTENDANCE REQUIRED</td>
            </tr>
            <tr>    
                <td class="tech-value" colspan="2">{{form_data.5.potential_contractor_attendance_required }}</td>
            </tr>
            <tr>
                <td class="tech-attrib" colspan="2">DETAILS ON POTENTIAL CONTRACTOR REQUIREMENTS</td>
            </tr>
            <tr>    
                <td class="tech-value" colspan="2">{{form_data.5.details_on_potential_contractor_requirements }}</td>
            </tr>

        </table>
    </div>        


</body>

</html>