{% load static %}
{% load humanize %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>Receipt PDF</title>
</head>

<body>
  <table id="invoice">
    <tr>
      <td>
        &nbsp;  
      </td>
    </tr>
  </table>  

<table id="invoice">
  <tr>
    <td id="invoice-cell-left"><img src="http://www.qpcentral.co.uk/static/images/YourHeatLogo.png"> </td>
    <td id="invoice-cell-middle"></td>
    <td id="invoice-cell-left">
      <h4>RECEIPT</h4>
      <br>
      <table>
        <tr>
          <td id="invoice-cell-left">Reference ID:</td>
          <td id="invoice-cell-middle"></td>
          <td id="invoice-cell-right">{{receipt_data.smartsheet_id}}</td>
        </tr>
        <tr>
          <td id="invoice-cell-left">Date:</td>
          <td id="invoice-cell-middle"></td>
          <td id="invoice-cell-right">{% now "jS F Y" %}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<br><br>


<table id="invoice">
  <tr>
    <td id="invoice-cell-left">RECEIVED FROM</td>
    <td id="invoice-cell-middle"></td>
    <td id="invoice-cell-left">RECEIVED BY</td>
  </tr>
  <tr>
    <td id="invoice-cell-left"><hr></td>
    <td id="invoice-cell-middle"></td>
    <td id="invoice-cell-left"><hr></td>
  </tr>

  <tr>
    <td id="invoice-cell-left">
      {{receipt_data.customer_title}} &nbsp;{{receipt_data.customer_first_name}} &nbsp;{{receipt_data.customer_last_name}}<br>
      {{receipt_data.house_name_or_number|floatformat:0}}<br>
      {{receipt_data.street_address}}<br>
      {{receipt_data.city}}&nbsp;{{ receipt_data.county}}<br>
      {{receipt_data.postcode}}<br>
    </td>
    <td id="invoice-cell-middle"></td>
    <td id="invoice-cell-left">
      Your Heat Ltd<br>
      The Oast<br>
      East Malling Business Centre<br>
      New Road<br>
      East Malling<br>
      Kent<br>
      ME19 6BJ<br><br>
    </td>
  </tr>
</table>

<br>
<table id="invoice-block-header">
  <tr>
    <td id="invoice-details-on-black">
      Details
    </td>

    <td id="invoice-amount-on-black">
      Subtotal
    </td>
  </tr>


</table>

<table id="invoice-block-details">
  <tr>
    <td id="invoice-details-on-gray">
      {{receipt_data.description}}
    </td>

    <td id="invoice-amount-on-gray">
      £{{receipt_data.amount_minus_vat|floatformat:2|intcomma}}<br>
      <br>
    </td>
  </tr>

  <tr>
    <td id="invoice-details-on-gray">
      &nbsp;
    </td>

    <td id="invoice-amount-on-gray">
      + VAT 20%   £{{receipt_data.vat_on_amount|floatformat:2|intcomma}}<br>
    </td>
  </tr>

</table>

<br>

<table id="invoice">

  <tr>
    <td id="invoice-cell-left">&nbsp;</td>
    <td id="invoice-cell-middle"></td>
    <td id="invoice-cell-right"><b>Total inc. VAT £{{receipt_data.amount|floatformat:2|intcomma}}</b></td>
  </tr>

</table>
<br>

<table id="invoice">

  <tr>
    <td id="invoice-cell-left"><hr></td>
    <td id="invoice-cell-middle"></td>
    <td id="invoice-cell-left"><hr></td>
  </tr>

  <tr>
    <td id="invoice-cell-left">
      RECEIVED WITH THANKS
      <br><br><br>
      <img src="http://www.qpcentral.co.uk/static/images/YH_receipt_signature.png">
      <hr>
      SIGNATURE
    </td>
    <td id="invoice-cell-middle"></td>
    <td id="invoice-cell-left"></td>
  </tr>
</table>

</body>

</html>