/* @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"');


* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

body {
   
}

.img--logo {
    height:40px;
}

.img--oftec {
    width:40px;
}

.img--worcester-bosch {
    height:40px;
}

.img--bosch {
    width:80px;
}

.img--gassafe {
    height:40px;
}

.gas-safe-number {
    font-size:0.4rem;

}

@page {

    size: "A4";

    margin: 1.5cm 1.5cm 3.5cm 1.5cm;

    @bottom-center {

        content:  "Page " counter(page) " / " counter(pages);

        }

    @bottom-left {

        content: "Copyright Yourheat";

    }

    @bottom-right {

        content: "01732 622990";

    }

}

div.break {
    page-break-after:always;
    }

.your-reference {
    margin-right: 20px;
    right:20;
    padding:0;
    color:grey;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: right;
    }

.salutation {
    margin-left: 20px;
    padding:0;
    color:grey;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    }

.thankyou {
    margin: 20px;
    padding:0;
    color:grey;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: left;
}

.page1-lower{
    position:absolute;
    top: 530px;
    width:100%;
    /* background-color: yellow; */
    text-align: center;
}

.page1-lower p {
    text-align: center;
    margin-top:5px;
    padding-left:40px;
    padding-right:40px;
    font-size: 0.9rem;
}

.page1-lower table {
    margin-top:20px;
    width:100%;
    border:1px;
}

.headrow {
    background-color: #393c41;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    padding:3px 6px 3px 6px;
    color:white;
}

.headrowx {
    background-color: #393c41;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    padding:9px 6px 9px 6px;
    color:white;
}

.midrow {
    background-color: #f1f1f1;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    padding:3px 6px 3px 6px;
}

.endrow {
    /* background-color: #4db79c; */
    background-color: rgb(251,126,51);
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    padding:3px 6px 3px 6px;
    color:white;
}

.payment-options {
    font-size: 1.4rem;
    font-weight: 500;
}

.header {
    position: fixed;
    top: 0.1cm;
    /* bottom: 5px; */
    width: 100%;
    text-align: center;
    /* font-size: 10pt;
    border: 2px solid black;
    border-radius: 5px;
    background-color: coral;
    color: black;
    font-size: 14px;
    font-weight: 100;
    text-align: center; */
    padding: 10px 0px 2px 0px;
}

.footer {
    position: fixed;
    bottom: -1.5cm;
    /* bottom: 5px; */
    width: 100%;
    text-align: center;
    /* font-size: 10pt;
    border: 2px solid black;
    border-radius: 5px;
    background-color: coral;
    color: black;
    font-size: 14px;
    font-weight: 100;
    text-align: center; */
    padding: 10px 0px 2px 0px;
    }

    /* Container holding the image and the text */
.container {
    position: relative;
  }

.orange-box {
    position:absolute;
    top: 100px;
    height:400px;
    width:680px;
    background-color: white;
    border:5px solid orange;
    border-radius: 25px 0px 25px 0px;
    text-align: center;
    padding-top:5px;

}

.price-orange-box {
    /* position: relative;
    padding:0;
    top: 50px;
    left: 180px;
    width:140px; */
    margin-left:15px;
    background-color: rgb(251,126,51);
    border:5px solid rgb(251,126,51);
    border-radius: 8px 0px 8px 0px;
    color:white;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    width:150px;
}

.rating-gray-box {
    /* position: relative;
    padding:0;
    top: 50px;
    left: 180px;
    width:140px; */
    position: absolute;
    top:470px;
    padding-left:25px;
    padding-right:25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left:150px;
    margin-right: 130px;
    background-color: #494d53;
    border:5px solid #494d53;
    border-radius: 40px 0px 40px 0px;
    color:white;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.page-start {
    top:260px;
}

.light-blue-box {
    /* top: 80px; */
    /* height:400px; */
    width:650px;
    background-color: #e8f1f4;
    border:5px solid #e8f1f4;
    border-radius: 10px 10px 10px 10px;
    text-align: left;

}

.light-blue-box h2 {
    font-size: 1.5rem;
    font-weight:400;
    color: #5e90a6;
    margin-left:5px;
    margin-right:5px;
}

.light-blue-box hr {
    color: #5e90a6;
    margin:5px;
}

.light-blue-box p {
    color: rgb(46, 46, 46);
    font-size: 1rem;
    text-align: justify;
    margin-left:5px;
    margin-right:5px;
}

  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* .product {
    text-align: left;
    align-content: left;

  } */

  .product-details {
      /* background-color: yellow;  */
      /* height:350px; */
      width:330px;
      float: left;
      /* display: inline-block; */
      text-align: left;
      margin:0;
      /* padding:2; */
      padding-left:5px ;


  }

  .alt-product-details {
      /* background-color: red; */
      /* height:350px; */
      width:330px;
      float:right;
      /* display:block; */
      text-align: left;
      margin:0;
      padding-right:5px;
  }

  .product-details-no-alt-product-details {
    width:640px;
    float: center;
    /* display: inline-block; */
    text-align: left;
    margin:0;
    padding-left:155px;
  }

  /* .product-details-no-alt-product-details table {
      background-color: deepskyblue;
      width:100%;
  } */

  .product-details-no-alt-product-details table td {
      padding-left:20px;
      padding-right:20px;
  }    

  .product-image {
    position: relative;
    top: 10px;
    left: 10px;
    /* height:200px; */
    width:122px;

  }

  .alt-product-image {
    position: relative;
    top: 10px;
    left: 10px;
    /* height:200px; */
    width:122px;

  }

  .product-name-no-alt {
    margin:20px;
    width:300px; 
  }

  .product-name-no-alt p {
    font-size: 1rem;
    font-weight:400;
    color:grey;
  }

  .product-name-no-alt li {
    margin-left: 8px;
    font-size: 0.7rem;
    width:140px;
    /* font-weight:400; */
    /* color:grey; */
}

  .product-name {
    margin:20px;
    width:200px; */
  }

  .product-name p {
    font-size: 1rem;
    font-weight:400;
    color:grey;
  }

  .product-name li {
    margin-left: 8px;
    font-size: 0.7rem;
    width:140px;
    /* font-weight:400; */
    /* color:grey; */
}

.tech-details {
    background-color: white;
}

.tech-title {
    font-size: 1.1rem;
    font-weight:500;
    margin-top:5px;
    margin-bottom:1px;
    padding:0px;
}

.tech-details table {
    width: 100%;
    /* border-collapse: collapse; */
    border-spacing: 8px;
    /* margin: 5px; */
    /* background-color: green; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.tech-details table tr, td {
    font-size: 0.8rem;
    /* border: 4px solid white; */
    margin: 5px;
  }

.tech-attrib {
    background-color: white;
}

.tech-attrib-cupb {
    background-color: white;
    font-weight:600;
}

.tech-value {
    background-color: #f5f5f5;
    vertical-align: top;
}

.opt-extra-title {
    font-size: 0.9rem;
    font-weight:500;
}

table.address {
    width:100%;
}

table.optional-extras {
    width:99%; 
    border:5px solid orange;
    border-radius: 25px 0px 25px 0px;
    /* text-align: center; */
    padding-top:5px;
    /* border: 1px solid black; */
}

table.optional-extras {
    font-size: 0.8rem;
    font-weight: 800;
}

#optional-extras-heading {
    font-size: 1rem;
    font-weight: 800;
}

table.special-parts-table {
    border-spacing:0;
    /* border: 1px solid black; */
    padding:10px;
}

table.special-parts-table th {
    font-size: 0.8rem;
    font-weight: 800;
}

table.radiator-table {
    border-spacing:0;
    /* border: 1px solid black; */
    padding:10px;
}

table.radiator-table th {
    font-size: 0.8rem;
    font-weight: 800;
    /* width: 50%; */
}

table.radiator-table td.col1 {
    width:50%;
}

table.radiator-table td.col2 {
    width:25%;
}

table.radiator-table td.col3 {
    width:25%;
}

table.account-information {
    border-spacing:0;
    border: 1px solid black;
    padding:10px;
}

#description-of-works {
    font-size: 0.8rem !important;   
}

p.account-header {
    font-size: 1rem;
    font-weight: 600;
 }

p.account-details {
    font-size: 0.9rem;
    font-weight: 400;
 }

 #bom {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    border-collapse: collapse;
    width: 100%;
  }
  
  #bom td, #bom th {
    border: 1px solid #ddd;
    padding: 4px;
  }
  
  #bom tr:nth-child(even){background-color: #f2f2f2;}
  
  #bom tr:hover {background-color: #ddd;}
  
  #bom th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #4db79c;
    color: rgb(35, 36, 36);
    font-weight: 100;
    font-size: 0.8rem;
  }

#bom th.col1 {
      width:25%;
  }
#bom th.col2 {
    width:40%;
}
#bom th.col3 {
    width:7%;
}
#bom th.col4 {
    width:7%;
}
#bom th.col5 {
    width:7%;
}
#bom th.col6 {
    width:7%;
}
#bom th.col7 {
    width:7%;
}

#bom th.alt {
    background-color: firebrick;
    color: white;
}

#bom th.exvat {
    background-color: darkblue  ;
    color: white;
}

  #SalutAndRef {
    border-collapse: collapse;
    width: 100%;
  }

#final-strap-line {
    text-align: center;
    color: rgb(251,126,51);
}

#final-strap-text {
    font-style: italic;
    font-size: 150%;
    font-weight: 900;
}

#header {
    width: 100%;
    /* background-color: darkturquoise; */
}

#header td.col1 {
    width:45%;
    text-align: left;
}

#header td.col2 {
    width:10%;
    text-align: left;
}

#header td.col3 {
    width:10%;
    text-align: left;
}

#header td.col4 {
    width:15%;
    text-align: right;
}

#header td.col5 {
    width:10%;
    text-align: right;
}

#header td.col6 {
    width:10%;
    text-align: left;
}


/* Rory additions */

.ob-orange-box{
    border: 5px solid orange;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* margin: 50px 0px 0px 50px; */
    height: 350px;
    width: 640px;
    padding: 20px;
}

.ob-top{
    background-color: rgb(255, 255, 255);
    height: 80px;
    position: relative;
}

.ob-reference {
    color:grey;
    font-size: 1.2rem;
    font-weight: 600;
    display: inline;
    float: right;
}

.hidden {
    visibility: hidden;
}

.push-right {
    position:relative;
    left: 175px;
}

.ob-name {
    color:grey;
    font-size: 1.2rem;
    font-weight: 600;
    display: inline;
}

.ob-text {
    color:grey;
    font-size: 0.9rem;
    font-weight: 500;
}

.ob-top p span {
    font-weight: 900;
}

.ob-left{
    height: 285px;
    float: left;
    width: 49%;
    /* border:2px solid black; */
}

.ob-boiler-left{
    height: 260px;
    float: left;
    width: 45%;
    position: relative;
    top: 25px;
    /* border:2px solid black; */
}

.ob-text-left{
    height: 260px;
    float: left;
    width: 45%;
    position: relative;
    top: 25px;
    left: 5px;
    /* border:2px solid black; */
}

.price {
    background-color: rgb(251,126,51);
    border-radius: 8px 0px 8px 0px;
    color:white;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    width:150px;
    padding: 5px 0px 5px 0px;
}

.name {
    font-size: 0.9rem;
    font-weight:300;
    color:grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

.features {
    margin-left: 16px;
    font-size: 0.7rem;
    width:140px;
}

.ob-right{
    height: 285px;
    float: left;
    width: 49%;
}

.ob-boiler-right{
    height: 260px;
    float: left;
    width: 49%;
    position: relative;
    top: 25px;
}

.ob-text-right{

    height: 260px;
    float: left;
    width: 45%;
    position: relative;
    top: 25px;
    left: 5px;
}


#invoice {
    width: 100%;
    /* background-color: darkturquoise; */
}

#invoice-cell-right {
    width: 45%;
    text-align: right;
    vertical-align: top;
}

#invoice-cell-left {
    width: 45%;
    text-align: left;
    vertical-align: top;
}

#invoice-cell-middle {
    width: 10%;
    /* text-align: left; */
}

#invoice-block-header {
    width: 100%;
    background-color: black;
}

#invoice-block-details {
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-bottom: lightgray;
    border-bottom-style: solid;
}


#invoice-details-on-black {
    width: 75%;
    text-align: left;
    color: white;
    margin-left: 2px;
}

#invoice-amount-on-black {
    width: 25%;
    text-align: right;
    color: white;
    margin-right: 2px;
}

#invoice-details-on-gray {
    width: 75%;
    text-align: left;
    color: black;
    margin-left: 2px;
    vertical-align: top;
}

#invoice-amount-on-gray {
    width: 25%;
    text-align: right;
    color: black;
    margin-right: 2px;
    vertical-align: top;
}

