{% load static %}
{% load quotepad_extras %}
<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">


<head>
  <title>Your Heat Customer Admin</title>
  <meta charset="UTF-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/spacelab/bootstrap.min.css">
  <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"> 
  <!-- <link href="{% static 'css/hub.css' %}" rel="stylesheet" type="text/css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
   
  <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>

  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <div class="img-logo-admin">
        <img src="{% static 'images/YourHeatLogo-Transparent.png' %}" width="180px" alt="">
      </div>
    </a>

    <a class="navbar-brand" href="/adminhome">Your Heat Operations Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/adminhome">Dashboard<span class="sr-only">(current)</span></a>
        </li>

        <span class="nav-item dropdown">
          <a class="nav-link dropdown dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Marketing Campaigns (not yet active)
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- <a class="dropdown-item" href="/ListCustomersForComms/Survey%20Booked%20Comms/">Survey Booked Comms</a>
            <a class="dropdown-item" href="/ListCustomersForComms/Installation%20Notification%20Comms/">Installation Notification Comms</a>
            <a class="dropdown-item" href="/ListCustomersForComms/Boiler%20Quotation%20Comms/">Boiler Quotation Comms</a>
            <a class="dropdown-item" href="/ListCustomersForComms/Our%20Priority%20Comms/">Our Priority Comms</a>
            <a class="dropdown-item" href="/ListCustomersForComms/Free%20Boiler%20Service%20Comms/">Free Boiler Service</a> -->
          </div>
        </span>
    </div>
  </nav>


  <div class="white-space">
    <main>
      {% block content %}

      {% endblock content %}
    </main>
  </div>

  <footer class="bg-dark base-footer">
    <div class="container">
      <div class="row">
        <div class=" col-12 col-lg-6">
          <h5>Customer Admin Tool</h5>
          <p class="">Designed by heating engineers for use in the trade.</p>
        </div>
        <div class="col-12 col-lg-4 offset-lg-2">
          <h5>Follow Us</h5>
          <ul>
            <li class="social-list"><a href="https://www.instagram.com" target="_blank"><i
                  class="fab fa-instagram"></i></a></li>
            <li class="social-list"><a href="https://www.facebook.com" target="_blank"><i
                  class="fab fa-facebook-f"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2020 Copyright
        <a class="grey-text text-lighten-4 right" href="https://github.com/Rorywork" target="_blank">Designed by
          KHC</a>
      </div>
    </div>

  </footer>


</body>

<script>
  $(function () {
    $("#id_survey_date_and_time").datetimepicker({
      format: 'd/m/Y H:i',
    });
    $("#id_installation_date").datetimepicker({
      format: 'd/m/Y', timepicker: false,
    });
  });
</script>

</html>