{% extends "base.html" %}
{% load static %}
{% load quotepad_extras %}

{% block content %}


<h2 class="container">
  {% if request.user|has_group:"yourheat" %}
    <img src="{% static 'images/YourHeatLogo-Transparent.png' %}" width="180px">
  {% endif %}  
</h1>

<div class="container dashboard-container">


  <div class="row">

    <div class="col-sm-12 col-md-6">

      
      <div class="card card-1-complete">
        <h3 class="card-headings">Edit Your Profile</h3>
        <p class="card-text">Please provide key information about you and your business which will be used within your quotations. We advise you to complete this stage first and ensure all the information is kept up to date.</p>
        <a class="stretched-link" href="/editprofiledetails"></a>
      </div>

    </div>

    {% if request.user.username == 'yourheatx' %}
    <div class="col-sm-12 col-md-6">
        <div class="card card-2-complete">
            <h3 class="card-headings">Upload Images</h3>
            <p class="card-text">Use this page to upload the logo which will go on your quote, please upload this first. Then you can upload an image of the product(s) you sell. At the next stage you will be able to select which image to put on your quotes.</p>
            <a class="stretched-link" href="/fileupload"></a>
          </div>
      
    </div>

    <div class="row">

    <div class=" col-sm-12 col-md-6">
        <div class="card card-3-complete">
            <h3 class="card-headings">Add Your Products</h3>
            <p class="card-text">On this page, you can use the uploaded images to create products. Products have a price, a brand, a product code and an associated image. Once you have products you will be able to generate quotations for these products. </p>
            <a class="stretched-link" href="/productpricelist"></a>
          </div>
    </div>
    {% endif %}
    
      <div class=" col-sm-12 col-md-6">
            <div class="card card-6-complete">
              <h3 class="card-headings">Optional Extras</h3>
              <p class="card-text">On this page, you can create, edit and delete the optional extras that are stored on the database and which you would like to make available to the customer.</p>
                  <a class="stretched-link" href="/optionalextralist"></a>
            </div>
      </div>
    
    </div>
</div>


{% endblock %}