{% extends "base.html" %}
{% load quotepad_extras %}

{% block content %}

<div class="container">

<h4>Previous Quotes for {{request.user}}</h4>
{% for pdf_file in pdf_files %}

    {% if pdf_file != "current_quote.txt" and pdf_file != "customer_comms" and pdf_file != "ss_custdata.txt" %}
        <a href="{% url 'pdfview' pdf_file %}" target="_blank">{{ pdf_file }}</a><br>
    {% endif %}
    
    {% empty %}
    <p>No quotes found.</p>
    
{% endfor %}

<br>
<a class="btn btn-secondary" href="/HubHome/">Return to Main Menu</a>

</div>

{% endblock %}