{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
    <div class = "container quote-form-container">

    <form id="input-finance" action="" method="post">
    {% csrf_token %}

    <h3>FINANCE OPTIONS</h3>
    
    <h5>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h5>
    
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
          {{ form }}
        {% endfor %}
    {% else %}
    <div class = "row">
        <div class = "col-6">
            <div class="form-group">
                <label>{{ wizard.form.total_cost.label }} £</label>
                {{ wizard.form.total_cost }}

                {% if wizard.form.user_name == 'yourheatx' and wizard.form.alt_total_cost.value > 0 %}
                  <label>{{ wizard.form.alt_total_cost.label }} £</label>
                  {{ wizard.form.alt_total_cost }}
                {% endif %}  
            </div>
        </div>    
            <div class = "col-6">
                <div class="form-group">
                    <label>{{ wizard.form.deposit_amount.label }} £ *</label>
                    {{ wizard.form.deposit_amount }}
                    <!-- Hidden fields to capture calculations from the Hitachi Finance JS -->
                    {{ wizard.form.deposit_amount_thirty_percent.as_hidden }}
                    {{ wizard.form.ib36_loan_amount.as_hidden }}
                    {{ wizard.form.ib36_monthly_payment.as_hidden }}
                    {{ wizard.form.ib36_total_payable.as_hidden }}
                    {{ wizard.form.ib48_loan_amount.as_hidden }}
                    {{ wizard.form.ib48_monthly_payment.as_hidden }}
                    {{ wizard.form.ib48_total_payable.as_hidden }}
                    {{ wizard.form.ib60_loan_amount.as_hidden }}
                    {{ wizard.form.ib60_monthly_payment.as_hidden }}
                    {{ wizard.form.ib60_total_payable.as_hidden }}
                    {{ wizard.form.ib96_loan_amount.as_hidden }}
                    {{ wizard.form.ib96_monthly_payment.as_hidden }}
                    {{ wizard.form.ib96_total_payable.as_hidden }}
                    {{ wizard.form.ib120_loan_amount.as_hidden }}
                    {{ wizard.form.ib120_monthly_payment.as_hidden }}
                    {{ wizard.form.ib120_total_payable.as_hidden }}
                    {{ wizard.form.interest_free_12m_deposit_amount.as_hidden }}
                    {{ wizard.form.interest_free_12m_loan_amount.as_hidden }}
                    {{ wizard.form.interest_free_12m_total_payable.as_hidden }}
                    {{ wizard.form.interest_free_12m_monthly_payment.as_hidden }}

                    {% if wizard.form.user_name != 'yourheatx' or wizard.form.alt_total_cost.value == 0 %}
                      {{ wizard.form.alt_total_cost.as_hidden }}
                    {% endif %}

                    {{ wizard.form.product_price.as_hidden }}
                    {{ wizard.form.component_price_total.as_hidden }}
                    {{ wizard.form.component_cost_total.as_hidden }}
                    {{ wizard.form.parts_price_total.as_hidden }}
                    {{ wizard.form.parts_cost_total.as_hidden }}
                    {{ wizard.form.estimated_duration_cost.as_hidden }}
                    {{ wizard.form.component_duration_total.as_hidden }}
                    {% if wizard.form.user_name != 'yourheatx' %}                
                      {{ wizard.form.include_interest_free_option.as_hidden }}
                    {% endif %}  
                </div>
                
            </div>    
        </div>    
    <!-- </div> -->
    {% if wizard.form.user_name == 'yourheatx' %}
    <div class = "row">
      <div class = "col-6">
        <div class="form-check">
              <label class="form-check-label">{{ wizard.form.include_interest_free_option.label }}</label>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ wizard.form.include_interest_free_option }}
              <br><br>
          </div>
      </div>
      <div class = "col-6">
       
      </div>
    </div>
    {% endif %}
        
    <div class = "row">
        <div class="col-12">
            <div class="boilerformbtns">
                {% if wizard.steps.prev %}
                <button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.first }}" class="boilerbtn">First step</button>
                <button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.prev }}" class="boilerbtn">Previous step</button>
                {% endif %}
                <button class="btn btn-danger" class="boilerbtn" type="button" onclick="enableSubmitBtnAnddoIt()">Calculate Finance</button>
                {% if wizard.steps.step1 != 10 %}
                <input class="btn btn-primary" id="next-step-btn" type="submit" value="Next Step" class="boilerbtn"/>
                {% else %}
                <input class="btn btn-primary" id="final-step-btn" type="submit" value="Final Step" class="boilerbtn" disabled/>
                {% endif %}
            </div>  
        </div>
    </div>
    </form>
    <br>

    <table id="products">
    </table>
  *Subject to Status, Terms and Conditions apply. Please note this is not an offer of finance. Rep Example: Cash Price £2000.00, No Deposit. Amount of Credit: £2000.00. Interest rate: 9.9% p.a fixed. Representative: 9.9% APR. Total Term: 36 Months. 36 Monthly Repayments of: £64.05. Total Interest: £305.80. Total Amount Payable: £2305.80.  Finance is provided by Hitachi Capital (UK) PLC, authorised and 
            regulated by the Financial Conduct Authority. Financial 
            Services Register no. 704348. The Register can be accessed 
            through http://fca.org.uk Registered Office: Hitachi Capital 
             House, Thorpe Road, Staines-upon-Thames, Surrey, TW18 
             3HP. Registered in Cardiff under company no. 1630491.
  <td>
  </tr>
  </table>

    </div> 
    {% endif %} 
{% endif %} 

<!-- Hitachi page Layout code  -->


<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover()
})

$('.popover-dismiss').popover({
  trigger: 'focus'
})

function enableSubmitBtnAnddoIt() {
  
  //Enable the submit button on form
  console.log(document.getElementById("id_9-deposit_amount").value.length)
  if (document.getElementById("id_9-deposit_amount").value.length != 0) {
    document.getElementById("final-step-btn").disabled = false;
    doIt();
  }  
}

// Hitachi JS script 

var defaultPrice = 500;
      
      var products =  [
                        
                        {name: 'Interest Bearing', minLoanAmount: 500, maxLoanAmount: 25000, rpm: 0.790, term: 36, defer: 0, minDepositPct: 0},
                        {name: 'Interest Bearing', minLoanAmount: 500, maxLoanAmount: 25000, rpm: 0.790, term: 48, defer: 0, minDepositPct: 0},
                        {name: 'Interest Bearing', minLoanAmount: 500, maxLoanAmount: 25000, rpm: 0.790, term: 60, defer: 0, minDepositPct: 0},
                        {name: 'Interest Bearing', minLoanAmount: 500, maxLoanAmount: 25000, rpm: 0.790, term: 96, defer: 0, minDepositPct: 0},
                         {name: 'Interest Bearing', minLoanAmount: 500, maxLoanAmount: 25000, rpm: 0.790, term: 120, defer: 0, minDepositPct: 0}

                      ];
                      
      // ###############################################################################################################################################
      // ###############################################################################################################################################
      // ###############################################################################################################################################
      
      function doIt() {
        
        var cellCount = 0;
        var trContainer = document.createElement("tr");
        var container = document.getElementById("products");
        var tdContainer;
        var price;
        var defaultDeposit;
        var deposit;
        var interestfreemonthlyPayment;

        //console.log("Doing it");
        
        // price = parseFloat(document.forms["inputForm"].elements["price"].value);
        price = parseFloat(document.forms["input-finance"].elements["9-total_cost"].value);
        if (isNaN(price)) {
          price = defaultPrice;
        };
        
        // defaultDeposit = parseFloat(document.forms["inputForm"].elements["deposit"].value);
        defaultDeposit = parseFloat(document.forms["input-finance"].elements["9-deposit_amount"].value);
        if (isNaN(defaultDeposit)) {
          defaultDeposit = 0;
        };
        
        while (container.firstChild) {
          container.removeChild(container.firstChild);
        };
        
        products.forEach(function(product) {
        
          if (cellCount == 4) {
            container.appendChild(trContainer);
            trContainer = document.createElement("tr");
            trContainer.class = "productRows";
            cellCount = 0;
          }
          
          if (defaultDeposit == 0) {
            deposit = Math.ceil(price * product.minDepositPct) / 100;
          } else {
            deposit = defaultDeposit;
          }
          
          // Added By GL
          var loanAmount = price - deposit;
          var interest_free_deposit = (price * 30) / 100;
          var deposit_thirty_percent = (price * 30) / 100;
          var interest_free_loanAmount = price - interest_free_deposit;
          var loanAmount_thirty_percent = price - interest_free_deposit;
          document.getElementById("id_9-interest_free_12m_deposit_amount").value = interest_free_deposit.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          interestfreemonthlyPayment = Math.floor(((interest_free_loanAmount / 12)) * 100) / 100;
          document.getElementById("id_9-interest_free_12m_monthly_payment").value = interestfreemonthlyPayment.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          document.getElementById("id_9-interest_free_12m_loan_amount").value = interest_free_loanAmount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          document.getElementById("id_9-interest_free_12m_total_payable").value = price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          // -----------
          
          tdContainer = document.createElement("td");

          
          if (product.rpm == 0) {
            var monthlyPayment = Math.floor(((loanAmount / product.term)) * 100) / 100;
            var monthlyPayment_thirty_percent = Math.floor(((loanAmount_thirty_percent / product.term)) * 100) / 100;
            var totalInterest = 0;
            var annualRate = 0;
            var apr = 0;
          } else {
          
            if (product.defer == 0) {
              var monthlyPayment = Math.floor((-loanAmount / ((Math.pow(1 + (product.rpm / 100), -product.term) - 1) / ((1 + (product.rpm / 100)) - 1)) + 0.009) * 100) / 100;
              var monthlyPayment_thirty_percent = Math.floor((-loanAmount_thirty_percent / ((Math.pow(1 + (product.rpm / 100), -product.term) - 1) / ((1 + (product.rpm / 100)) - 1)) + 0.009) * 100) / 100;
            } else {
              var monthlyPayment = Math.floor(varIns = (-loanAmount * Math.pow(1 + (product.rpm / 100), product.defer - 1) / ((((Math.pow(1 + (product.rpm / 100), -product.term))) - 1) / ((1 + (product.rpm / 100)) - 1)) + 0.009) * 100) / 100;
              var monthlyPayment_thirty_percent = Math.floor(varIns = (-loanAmount_thirty_percent * Math.pow(1 + (product.rpm / 100), product.defer - 1) / ((((Math.pow(1 + (product.rpm / 100), -product.term))) - 1) / ((1 + (product.rpm / 100)) - 1)) + 0.009) * 100) / 100;
            }
            var totalInterest = product.term * monthlyPayment - loanAmount;
            var annualRate = Math.round(1000 * (totalInterest / loanAmount) / ((product.term + product.defer ) / 12)) / 10;
            var apr = Math.round(1000 * (Math.pow(1 + product.rpm / 100, 12) - 1)) / 10;
          }
          
          if (loanAmount < product.minLoanAmount || loanAmount > product.maxLoanAmount || deposit < product.minDepositPct * price / 100) {
            var style = "disabled";
          } else {
            var style = "enabled";
          }
          var totalRepayable_thirty_percent = product.term * monthlyPayment_thirty_percent + deposit_thirty_percent
          var result = {name: product.name + " (" + product.term + " Months)", loanAmount: loanAmount, monthlyPayment: monthlyPayment, apr: apr, annualRate: annualRate, term: product.term, totalRepayable: product.term * monthlyPayment + deposit, totalInterest: totalInterest, defer: product.defer, style: style, deposit: deposit}
          //console.log(result);
          //console.log(result.term)

          // Assign the default 30% deposit on the hidden fields for each term - These calaculations are printed on the quote.
          if(result.term == '36') {
          document.getElementById("id_9-ib36_loan_amount").value = loanAmount_thirty_percent.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          document.getElementById("id_9-ib36_monthly_payment").value = monthlyPayment_thirty_percent.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          document.getElementById("id_9-ib36_total_payable").value = totalRepayable_thirty_percent.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          }
        if(result.term == '48') {
          document.getElementById("id_9-ib48_loan_amount").value = loanAmount_thirty_percent.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          document.getElementById("id_9-ib48_monthly_payment").value = monthlyPayment_thirty_percent.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          document.getElementById("id_9-ib48_total_payable").value = totalRepayable_thirty_percent.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          }
        if(result.term == '60') {
          document.getElementById("id_9-ib60_loan_amount").value = loanAmount_thirty_percent.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          document.getElementById("id_9-ib60_monthly_payment").value = monthlyPayment_thirty_percent.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          document.getElementById("id_9-ib60_total_payable").value = totalRepayable_thirty_percent.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          }
        if(result.term == '96') {
          document.getElementById("id_9-ib96_loan_amount").value = loanAmount_thirty_percent.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          document.getElementById("id_9-ib96_monthly_payment").value = monthlyPayment_thirty_percent.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          document.getElementById("id_9-ib96_total_payable").value = totalRepayable_thirty_percent.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          }
        if(result.term == '120') {
          document.getElementById("id_9-ib120_loan_amount").value = loanAmount_thirty_percent.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          document.getElementById("id_9-ib120_monthly_payment").value = monthlyPayment_thirty_percent.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          document.getElementById("id_9-ib120_total_payable").value = totalRepayable_thirty_percent.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
          }
          
          var table = makeTable(result);
        
          tdContainer.appendChild(table);
          trContainer.appendChild(tdContainer);
          
          cellCount = cellCount + 1;
        });
        
        container.appendChild(trContainer);
      
      }
      
      function makeTable(result) {
      
        var table = document.createElement("table");
        table.id = result.style;
        var trProducts = document.createElement("tr");
        var thProducts = document.createElement("th");
        var text = document.createTextNode(result.name);
        thProducts.appendChild(text);
        trProducts.appendChild(thProducts);
        table.appendChild(trProducts);
        
        trProducts = document.createElement("tr");
        var tdProducts = document.createElement("td");
        var span = document.createElement("span");
        span.id = "value";
        text = document.createTextNode("£" + result.loanAmount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        span.appendChild(text);
        tdProducts.appendChild(span);
        var br = document.createElement("br");
        tdProducts.appendChild(br);
        text = document.createTextNode("Loan Amount");
        tdProducts.appendChild(text);
        trProducts.appendChild(tdProducts);
        table.appendChild(trProducts);
        
        trProducts = document.createElement("tr");
        var tdProducts = document.createElement("td");
        var span = document.createElement("span");
        span.id = "value";
        text = document.createTextNode("£" + result.deposit.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        span.appendChild(text);
        tdProducts.appendChild(span);
        var br = document.createElement("br");
        tdProducts.appendChild(br);
        text = document.createTextNode("Deposit");
        tdProducts.appendChild(text);
        trProducts.appendChild(tdProducts);
        table.appendChild(trProducts);
        
        trProducts = document.createElement("tr");
        tdProducts = document.createElement("td");
        span = document.createElement("span");
        span.id = "value";
        text = document.createTextNode("£" + result.monthlyPayment.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        span.appendChild(text);
        tdProducts.appendChild(span);
        br = document.createElement("br");
        tdProducts.appendChild(br);
        text = document.createTextNode("Monthly Payment");
        tdProducts.appendChild(text);
        trProducts.appendChild(tdProducts);
        table.appendChild(trProducts);
        
        trProducts = document.createElement("tr");
        tdProducts = document.createElement("td");
        span = document.createElement("span");
        span.id = "value";
        text = document.createTextNode(result.term);
        span.appendChild(text);
        tdProducts.appendChild(span);
        br = document.createElement("br");
        tdProducts.appendChild(br);
        text = document.createTextNode("Number of Payments");
        tdProducts.appendChild(text);
        trProducts.appendChild(tdProducts);
        table.appendChild(trProducts);
        
        trProducts = document.createElement("tr");
        tdProducts = document.createElement("td");
        span = document.createElement("span");
        span.id = "value";
        text = document.createTextNode(result.apr.toFixed(1) + "%");
        span.appendChild(text);
        tdProducts.appendChild(span);
        br = document.createElement("br");
        tdProducts.appendChild(br);
        text = document.createTextNode("Representative APR");
        tdProducts.appendChild(text);
        trProducts.appendChild(tdProducts);
        table.appendChild(trProducts);
        
        trProducts = document.createElement("tr");
        tdProducts = document.createElement("td");
        text = document.createTextNode("Total amount payable (Incl. Deposit): £" + result.totalRepayable.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        tdProducts.appendChild(text);
        trProducts.appendChild(tdProducts);
        table.appendChild(trProducts);
        
        trProducts = document.createElement("tr");
        tdProducts = document.createElement("td");
        text = document.createTextNode("Total interest: £" + result.totalInterest.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        tdProducts.appendChild(text);
        trProducts.appendChild(tdProducts);
        table.appendChild(trProducts);

        trProducts = document.createElement("tr");
        tdProducts = document.createElement("td");
        text = document.createTextNode("Deferral Period: " + result.defer + " Months");
        tdProducts.appendChild(text);
        trProducts.appendChild(tdProducts);
        table.appendChild(trProducts);
        
        return table;
      
      }

window.addEventListener("load", function () {
 doIt();
});


</script>

{% endblock %}
