{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
    <div class = "container quote-form-container">

    <form id="input-finance" action="" method="post">
    {% csrf_token %}

    <h3>RADIATOR REQUIREMENTS</h3>
    
    <h5>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h5>
    
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
          {{ form }}
        {% endfor %}
    {% else %}

    <div class = "row">
        <div class = "col-12">
            <div class="form-group">
                <label>{{ wizard.form.radiator_specification.label }}</label>
                {{ wizard.form.radiator_specification }}
                <div class="form-cust-rad-qty">
                    Qty: {{ wizard.form.cust_supply_radiator_quantity }}
                </div>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "col-7">
            <div class="form-rad-group">
                <p class="radiator-section-headings" >Radiator Measurement / Location *</p> 
                <table>
                    <tr>
                        <td width="180px">Location</td>
                        <td width="100px">Height</td>
                        <td width="100px">Width</td>
                        <td width="50px">P+/Single(K1)/Double(K2)</td>
                    </tr>
                    <tr>
                        <td width="180px">{{wizard.form.location_1}}</td>
                        <td width="100px">{{wizard.form.radiator_height_1}}</td>
                        <td width="100px">{{wizard.form.radiator_width_1}}</td>
                        <td width="50px">{{wizard.form.radiator_type_1}}</td>
                    </tr>
                    <tr>
                        <td width="180px">{{wizard.form.location_2}}</td>
                        <td width="100px">{{wizard.form.radiator_height_2}}</td>
                        <td width="100px">{{wizard.form.radiator_width_2}}</td>
                        <td width="50px">{{wizard.form.radiator_type_2}}</td>
                    </tr>
                    <tr>
                        <td width="180px">{{wizard.form.location_3}}</td>
                        <td width="100px">{{wizard.form.radiator_height_3}}</td>
                        <td width="100px">{{wizard.form.radiator_width_3}}</td>
                        <td width="50px">{{wizard.form.radiator_type_3}}</td>
                    </tr>
                    <tr>
                        <td width="180px">{{wizard.form.location_4}}</td>
                        <td width="100px">{{wizard.form.radiator_height_4}}</td>
                        <td width="100px">{{wizard.form.radiator_width_4}}</td>
                        <td width="50px">{{wizard.form.radiator_type_4}}</td>
                    </tr>
                    <tr>
                        <td width="180px">{{wizard.form.location_5}}</td>
                        <td width="100px">{{wizard.form.radiator_height_5}}</td>
                        <td width="100px">{{wizard.form.radiator_width_5}}</td>
                        <td width="50px">{{wizard.form.radiator_type_5}}</td>
                    </tr>
                    <tr>
                        <td width="180px">{{wizard.form.location_6}}</td>
                        <td width="100px">{{wizard.form.radiator_height_6}}</td>
                        <td width="100px">{{wizard.form.radiator_width_6}}</td>
                        <td width="50px">{{wizard.form.radiator_type_6}}</td>
                    </tr>
                    <tr>
                        <td width="180px">{{wizard.form.location_7}}</td>
                        <td width="100px">{{wizard.form.radiator_height_7}}</td>
                        <td width="100px">{{wizard.form.radiator_width_7}}</td>
                        <td width="50px">{{wizard.form.radiator_type_7}}</td>
                    </tr>
                    <tr>
                        <td width="180px">{{wizard.form.location_8}}</td>
                        <td width="100px">{{wizard.form.radiator_height_8}}</td>
                        <td width="100px">{{wizard.form.radiator_width_8}}</td>
                        <td width="50px">{{wizard.form.radiator_type_8}}</td>
                    </tr>
                    <tr>
                        <td width="180px">{{wizard.form.location_9}}</td>
                        <td width="100px">{{wizard.form.radiator_height_9}}</td>
                        <td width="100px">{{wizard.form.radiator_width_9}}</td>
                        <td width="50px">{{wizard.form.radiator_type_9}}</td>
                    </tr>
                    <tr>
                        <td width="180px">{{wizard.form.location_10}}</td>
                        <td width="100px">{{wizard.form.radiator_height_10}}</td>
                        <td width="100px">{{wizard.form.radiator_width_10}}</td>
                        <td width="50px">{{wizard.form.radiator_type_10}}</td>
                    </tr>
                    <tr>
                        <td width="180px">{{wizard.form.location_11}}</td>
                        <td width="100px">{{wizard.form.radiator_height_11}}</td>
                        <td width="100px">{{wizard.form.radiator_width_11}}</td>
                        <td width="50px">{{wizard.form.radiator_type_11}}</td>
                    </tr>
                    <tr>
                        <td width="180px">{{wizard.form.location_12}}</td>
                        <td width="100px">{{wizard.form.radiator_height_12}}</td>
                        <td width="100px">{{wizard.form.radiator_width_12}}</td>
                        <td width="50px">{{wizard.form.radiator_type_12}}</td>
                    </tr>

                </table>
            </div>
        </div>

        <div class = "col-5"> 
            <div class="form-rad-valve-group">
                <p class="radiator-section-headings">Thermostatic Radiator Valves *</p> 
                <table>
                    <tr>
                        <td width="100px">Size</td>
                        <td width="100px">Type</td>
                        <td width="50px">Qty</td>
                    </tr>
                    <tr>
                        <td width="100px">{{wizard.form.radiator_valve_size_1}}</td>
                        <td width="100px">{{wizard.form.radiator_valve_type_1}}</td>
                        <td width="50px">{{wizard.form.radiator_valve_quantity_1}}</td>
                    </tr>
                    <tr>
                        <td width="100px">{{wizard.form.radiator_valve_size_2}}</td>
                        <td width="100px">{{wizard.form.radiator_valve_type_2}}</td>
                        <td width="50px">{{wizard.form.radiator_valve_quantity_2}}</td>
                    </tr>
                    <tr>
                        <td width="100px">{{wizard.form.radiator_valve_size_3}}</td>
                        <td width="100px">{{wizard.form.radiator_valve_type_3}}</td>
                        <td width="50px">{{wizard.form.radiator_valve_quantity_3}}</td>
                    </tr>
                    <tr>
                        <td width="100px">{{wizard.form.radiator_valve_size_4}}</td>
                        <td width="100px">{{wizard.form.radiator_valve_type_4}}</td>
                        <td width="50px">{{wizard.form.radiator_valve_quantity_4}}</td>
                    </tr>
                    <tr>
                        <td width="100px">{{wizard.form.radiator_valve_size_5}}</td>
                        <td width="100px">{{wizard.form.radiator_valve_type_5}}</td>
                        <td width="50px">{{wizard.form.radiator_valve_quantity_5}}</td>
                    </tr>
                    <tr>
                        <td width="100px">{{wizard.form.radiator_valve_size_6}}</td>
                        <td width="100px">{{wizard.form.radiator_valve_type_6}}</td>
                        <td width="50px">{{wizard.form.radiator_valve_quantity_6}}</td>
                    </tr>
                    <tr>
                        <td width="100px">{{wizard.form.radiator_valve_size_7}}</td>
                        <td width="100px">{{wizard.form.radiator_valve_type_7}}</td>
                        <td width="50px">{{wizard.form.radiator_valve_quantity_7}}</td>
                    </tr>
                    <tr>
                        <td width="100px">{{wizard.form.radiator_valve_size_8}}</td>
                        <td width="100px">{{wizard.form.radiator_valve_type_8}}</td>
                        <td width="50px">{{wizard.form.radiator_valve_quantity_8}}</td>
                    </tr>
                    <tr>
                        <td width="100px">{{wizard.form.radiator_valve_size_9}}</td>
                        <td width="100px">{{wizard.form.radiator_valve_type_9}}</td>
                        <td width="50px">{{wizard.form.radiator_valve_quantity_9}}</td>
                    </tr>
                    <tr>
                        <td width="100px">{{wizard.form.radiator_valve_size_10}}</td>
                        <td width="100px">{{wizard.form.radiator_valve_type_10}}</td>
                        <td width="50px">{{wizard.form.radiator_valve_quantity_10}}</td>
                    </tr>
                    <tr>
                        <td width="100px">{{wizard.form.radiator_valve_size_11}}</td>
                        <td width="100px">{{wizard.form.radiator_valve_type_11}}</td>
                        <td width="50px">{{wizard.form.radiator_valve_quantity_11}}</td>
                    </tr>
                    <tr>
                        <td width="100px">{{wizard.form.radiator_valve_size_12}}</td>
                        <td width="100px">{{wizard.form.radiator_valve_type_12}}</td>
                        <td width="50px">{{wizard.form.radiator_valve_quantity_12}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br>
    <div class = "row">
        <div class = "col-12">
            <div class="form-towel-group">
                <p class="radiator-section-headings">Towel Rail Measurement / Location *</p> 
                <table>
                    <tr>
                        <td width="220px">Location</td>
                        <td width="50px">Width</td>
                        <td width="100px">Height</td>
                        <td width="50px">Colour</td>
                        <td width="50px">Type</td>
                    </tr>
                    <tr>
                        <td width="220px">{{wizard.form.towel_rail_location_1}}</td>
                        <td width="50px">{{wizard.form.towel_rail_width_1}}</td>
                        <td width="100px">{{wizard.form.towel_rail_height_1}}</td>
                        <td width="50px">{{wizard.form.towel_rail_colour_1}}</td>
                        <td width="50px">{{wizard.form.towel_rail_type_1}}</td>
                    </tr>
                    <tr>
                        <td width="220px">{{wizard.form.towel_rail_location_2}}</td>
                        <td width="50px">{{wizard.form.towel_rail_width_2}}</td>
                        <td width="100px">{{wizard.form.towel_rail_height_2}}</td>
                        <td width="50px">{{wizard.form.towel_rail_colour_2}}</td>
                        <td width="50px">{{wizard.form.towel_rail_type_2}}</td>
                    </tr>
                    <tr>
                        <td width="220px">{{wizard.form.towel_rail_location_3}}</td>
                        <td width="50px">{{wizard.form.towel_rail_width_3}}</td>
                        <td width="100px">{{wizard.form.towel_rail_height_3}}</td>
                        <td width="50px">{{wizard.form.towel_rail_colour_3}}</td>
                        <td width="50px">{{wizard.form.towel_rail_type_3}}</td>
                    </tr>
                    <tr>
                        <td width="220px">{{wizard.form.towel_rail_location_4}}</td>
                        <td width="50px">{{wizard.form.towel_rail_width_4}}</td>
                        <td width="100px">{{wizard.form.towel_rail_height_4}}</td>
                        <td width="50px">{{wizard.form.towel_rail_colour_4}}</td>
                        <td width="50px">{{wizard.form.towel_rail_type_4}}</td>
                    </tr>
                </table>
            </div>        
        </div>
    </div>
    <br>        

{% endif %}
        
    <div class = "row">
        <div class="col-12">
            <div class="boilerformbtns">
                {% if wizard.steps.prev %}
                <button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.first }}" class="boilerbtn">First step</button>
                <button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.prev }}" class="boilerbtn">Previous step</button>
                {% endif %}
                {% if wizard.steps.step1 != 10 %}
                <input class="btn btn-primary" id="next-step-btn" type="submit" value="Next Step" class="boilerbtn"/>
                {% else %}
                <input class="btn btn-primary" type="submit" value="Final Step" class="boilerbtn"/>
                {% endif %}
            </div>  
        </div>
    </div>
    </form>
    <br>

</div> 
{% endif %} 

<script type="text/javascript">
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    
    $('.popover-dismiss').popover({
      trigger: 'focus'
    })
    
    function radiator_handler() {
      //Create an input type dynamically.
    
    // document.forms[0].element.value
     //console.log(7-radiator_specification.value);
    
     var no_rads_checkbox = document.getElementById('id_7-radiator_specification_0');
     var rads_req_checkbox = document.getElementById('id_7-radiator_specification_1');
     var thermo_rads_only_checkbox = document.getElementById('id_7-radiator_specification_2');
     var towel_rails_checkbox = document.getElementById('id_7-radiator_specification_3');
     var cust_to_provide_checkbox = document.getElementById('id_7-radiator_specification_4');
    
    if (no_rads_checkbox.checked) {
        document.getElementsByClassName("form-rad-group")[0].style.visibility = "hidden";
        document.getElementsByClassName("form-rad-valve-group")[0].style.visibility = "hidden";
        document.getElementsByClassName("form-towel-group")[0].style.visibility = "hidden";
    } 
    if (rads_req_checkbox.checked) {
        document.getElementsByClassName("form-rad-group")[0].style.visibility = "visible";
        document.getElementsByClassName("form-rad-valve-group")[0].style.visibility = "visible";
    }
    else {
        document.getElementsByClassName("form-rad-group")[0].style.visibility = "hidden";
        document.getElementsByClassName("form-rad-valve-group")[0].style.visibility = "hidden";
    }

    if (thermo_rads_only_checkbox.checked || rads_req_checkbox.checked) {
        document.getElementsByClassName("form-rad-valve-group")[0].style.visibility = "visible";
    }
    else {
        document.getElementsByClassName("form-rad-valve-group")[0].style.visibility = "hidden";
    }

    if (towel_rails_checkbox.checked) {
        document.getElementsByClassName("form-towel-group")[0].style.visibility = "visible";
    } 
    else {
        document.getElementsByClassName("form-towel-group")[0].style.visibility = "hidden";
    } 

    if (cust_to_provide_checkbox.checked) {
        document.getElementsByClassName("form-rad-group")[0].style.visibility = "hidden";
        document.getElementsByClassName("form-rad-valve-group")[0].style.visibility = "hidden";
        document.getElementsByClassName("form-towel-group")[0].style.visibility = "hidden";
        document.getElementsByClassName("form-cust-rad-qty")[0].style.visibility = "visible";
    } else {
        document.getElementsByClassName("form-cust-rad-qty")[0].style.visibility = "hidden";
    }

    }

    // Code to filter dropdown on Towel rail sizes

    function delete_dropdown_elements(id) {

        document.getElementById(id).innerText = null;
    }

    function createOption(id, value) {

    el = document.createElement('option');
    el.value = value;
    el.innerHTML = value;
    
    document.getElementById(id).appendChild(el);
    }

    // Main code //

    document.getElementById('id_7-towel_rail_width_1').addEventListener('change', function() {

    delete_dropdown_elements('id_7-towel_rail_height_1');
    createOption('id_7-towel_rail_height_1','-----');
    if (document.getElementById('id_7-towel_rail_width_1').value == "450") {
        createOption('id_7-towel_rail_height_1','900');
        createOption('id_7-towel_rail_height_1','1000');
        createOption('id_7-towel_rail_height_1','1200');    
    }
    if (document.getElementById('id_7-towel_rail_width_1').value == "600") {
        createOption('id_7-towel_rail_height_1','1000');
        createOption('id_7-towel_rail_height_1','1200');
        createOption('id_7-towel_rail_height_1','1600');
        createOption('id_7-towel_rail_height_1','1800');    
    }
});

    document.getElementById('id_7-towel_rail_width_2').addEventListener('change', function() {

    delete_dropdown_elements('id_7-towel_rail_height_2');
    createOption('id_7-towel_rail_height_2','-----');
    if (document.getElementById('id_7-towel_rail_width_2').value == "450") {
        createOption('id_7-towel_rail_height_2','900');
        createOption('id_7-towel_rail_height_2','1000');
        createOption('id_7-towel_rail_height_2','1200');    
    }
    if (document.getElementById('id_7-towel_rail_width_2').value == "600") {
        createOption('id_7-towel_rail_height_2','1000');
        createOption('id_7-towel_rail_height_2','1200');
        createOption('id_7-towel_rail_height_2','1600');
        createOption('id_7-towel_rail_height_2','1800');    
    }
});

    document.getElementById('id_7-towel_rail_width_3').addEventListener('change', function() {

    delete_dropdown_elements('id_7-towel_rail_height_3');
    createOption('id_7-towel_rail_height_3','-----');
    if (document.getElementById('id_7-towel_rail_width_3').value == "450") {
        createOption('id_7-towel_rail_height_3','900');
        createOption('id_7-towel_rail_height_3','1000');
        createOption('id_7-towel_rail_height_3','1200');    
    }
    if (document.getElementById('id_7-towel_rail_width_3').value == "600") {
        createOption('id_7-towel_rail_height_3','1000');
        createOption('id_7-towel_rail_height_3','1200');
        createOption('id_7-towel_rail_height_3','1600');
        createOption('id_7-towel_rail_height_3','1800');    
    }
}); 

    document.getElementById('id_7-towel_rail_width_4').addEventListener('change', function() {

    delete_dropdown_elements('id_7-towel_rail_height_4');
    createOption('id_7-towel_rail_height_4','-----');
    if (document.getElementById('id_7-towel_rail_width_4').value == "450") {
        createOption('id_7-towel_rail_height_4','900');
        createOption('id_7-towel_rail_height_4','1000');
        createOption('id_7-towel_rail_height_4','1200');    
    }
    if (document.getElementById('id_7-towel_rail_width_4').value == "600") {
        createOption('id_7-towel_rail_height_4','1000');
        createOption('id_7-towel_rail_height_4','1200');
        createOption('id_7-towel_rail_height_4','1600');
        createOption('id_7-towel_rail_height_4','1800');    
    }
});

    </script>

    {% endblock %}