{% extends "yourheat/adminpages/base.html" %}
{% load static %}
{% load quotepad_extras %}

{% block content %}

<div class="container">
    <div class="row">
        <div class = "col-12">
            <h4>Customer Operations Administration</h4>
        </div>
     
    </div>
    <div class="row">
        <div class = "col-3"  style="color:rgb(0,48,89)">
            &nbsp;&nbsp;<i class="fas fa-address-card"></i>
            <strong>{{ customer_name }}</strong><br>
            &nbsp;&nbsp;<img src="{% static 'images/smartsheet_tick_transparent.png' %}">
            <strong>{{ customer_id }}</strong>
        </div>  
        <div class = "col-3">
            <a class="btn boilerbtn {% if customer_status != '1' %} btn-secondary disabled {% else %} btn-primary {% endif %} " href="{% url 'GetSurveyAppointment' customer_id %}">Schedule Survey Calendar Booking</a>
        </div> 
        <div class = "col-3">
            <a class="btn boilerbtn {% if customer_status != '4' %} boilerbtn btn-secondary disabled {% else %} btn-primary {% endif %}" href="{% url 'GetInstallationAppointment' customer_id %}">Schedule Installation Calendar Booking</a>
        </div>
        <div class = "col-3">
            <a class="btn boilerbtn btn-primary" href="{% url 'GetJobParts' customer_id %}">Generate Job Parts Email for Merchant</a>
        </div>  
    </div>

    <hr>
    <div class = "col-12">
        <h4>Mailing Communications</h4>
    </div>
    <div class="row comms-row">
        <div class = "col-4">
            <a class="btn boilerbtn btn-warning" href="{% url 'PreviewComms' 'Survey Booked Comms' customer_id  %}">Resend Survey Booked Comms</a>
        </div>
        <div class = "col-8">    
            <i>Dear ____, Our surveyor is looking forward to visiting you to provide a free, no-obligation quote...</i><br>
            <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name] [ Surveyor Name ] [ Survey Date ] [ Survey Time ]</p>
        </div>
    </div>   
    <div class="row comms-row">
        <div class = "col-4">
            <a class="btn boilerbtn btn-warning" href="{% url 'PreviewComms' 'Boiler Quotation Comms' customer_id  %}">Boiler Quotation Follow-up Comms</a>
        </div>
        <div class = "col-8">    
            <i>Dear ____, We've been trying to contact you to discuss the quotation we gave you recently...</i>
            <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name]</p>
        </div>
    </div>        
    <div class="row comms-row">
        <div class = "col-4">      
            <a class="btn boilerbtn btn-warning" href="{% url 'PreviewComms' 'Our Priority Comms' customer_id  %}">Our Priority Comms</a>
        </div>
        <div class = "col-8">  
            <i>Dear ____, We tried calling today to discuss the quotation we gave on...</i>
            <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name] [Survey Date]</p>
        </div>
    </div>
    <div class="row comms-row">
        <div class = "col-4">                      
            <a class="btn boilerbtn btn-warning" href="{% url 'GetSpecialOffer' customer_id %}">Special Offer Comms</a>
        </div>
        <div class = "col-8">    
            <i>Dear ____, We just wanted to thank you for the opportunity to quote...</i>
            <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name] [Customer ID]</p>
        </div>
    </div>
    <div class="row comms-row">
        <div class = "col-4">                      
            <a class="btn boilerbtn btn-warning" href="{% url 'GetHeatPlan' customer_id %}">Heat Plan Comms</a>
        </div>
        <div class = "col-8">    
            <i>Dear ____, Thank you for taking the time to view our range of care plans...</i>
            <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name] [Customer ID]</p>
        </div>
    </div>
    <div class="row comms-row">
        <div class = "col-4">              
            <a class="btn boilerbtn btn-warning" href="{% url 'PreviewComms' 'Installation Notification Comms' customer_id  %}">Resend Installation Notification Comms</a>
        </div>
        <div class = "col-8">
            <i>Dear ____, Thank you for choosing Your Heat as your trusted boiler installation specialist...</i>
            <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name] [Installation Date] [Brand] [Engineer Name]</p>
        </div>
    </div>
    <div class="row comms-row">
        <div class = "col-4">                      
            <a class="btn boilerbtn btn-warning" href="{% url 'PreviewComms' 'Free Boiler Service Comms' customer_id  %}">Free Boiler Service Comms</a>
        </div>
        <div class = "col-8">    
            <i>Dear ____, Thank you for choosing Your Heat to look after the installation of your new boiler...</i>
            <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name] [Customer ID]</p>
        </div>
    </div>
    <div class="row comms-row">
        <div class = "col-4">
            <a class="btn boilerbtn btn-warning" href="{% url 'PreviewComms' 'Invoice Comms' customer_id  %}">Invoice Comms</a>
        </div>
        <div class = "col-8">    
            <i>Dear ____, Thank you for choosing Your Heat. Please find attached a copy of your Deposit Invoice which is payable by return...</i><br>
            <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name]</p>
        </div>
    </div>         
      
    <div class="row comms-row">
        <div class = "col-4">            
            <a class="btn btn-secondary" href="/ProcessingCancelled/">Cancel</a>
        </div>
        <div class = "col-8">

        </div>
    </div>

</div>

{% endblock %}