{% extends "yourheat/adminpages/base.html" %}
{% load static %}
{% load quotepad_extras %}

{% block content %}

<div class="container">
    <div class="row">
        <div class = "col-3">
            &nbsp;
        </div>
        <div class = "col-9">
            <h4>Customer Operations Administration</h4>
        </div>
     
    </div>
    <div class="row">
        <div class = "col-3"  style="color:rgb(0,48,89)">
            &nbsp;&nbsp;<i class="fas fa-address-card"></i>
            <strong>{{ customer_name }}</strong><br>
            &nbsp;&nbsp;<img src="{% static 'images/smartsheet_tick_transparent.png' %}">
            <strong>{{ customer_id }}</strong>
        </div>  
        <div class = "col-3">
            <a class="btn boilerbtn {% if customer_status != '1' %} btn-secondary disabled {% else %} btn-primary {% endif %} " href="{% url 'GetSurveyAppointment' customer_id %}">Schedule Survey Calendar Booking</a>
        </div> 
        <div class = "col-3">
            <a class="btn boilerbtn {% if customer_status != '4' %} boilerbtn btn-secondary disabled {% else %} btn-primary {% endif %}" href="{% url 'GetInstallationAppointment' customer_id %}">Schedule Installation Calendar Booking</a>
        </div>
        <div class = "col-3">
            <a class="btn boilerbtn btn-primary" href="{% url 'GetJobParts' customer_id %}">Generate Job Parts Email for Merchant</a>
        </div>  
    </div>

    <hr>
    <div class="row">
    <div class = "col-4">
        <h4 style="text-align:left">&nbsp;Mailing Communications</h4>
    </div>
    <div class = "col-8">&nbsp;</div>
    </div>

    <div class="row comms-row">
        <div class = "col-4">
            <a class="btn boilerbtn btn-warning btn-comms" href="{% url 'PreviewComms' 'Survey Booked Comms' customer_id  %}">Resend Survey Booked Comms</a>
        </div>
        <div class = "col-8 comms-text">    
            <i>Hi ____, Our surveyor is looking forward to visiting you to provide a free, no-obligation quote...</i><br>
            <!-- <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name] [ Surveyor Name ] [ Survey Date ] [ Survey Time ]</p> -->
        </div>
    </div>   
    <div class="row comms-row">
        <div class = "col-4">
            <a class="btn boilerbtn btn-warning btn-comms" href="{% url 'PreviewComms' 'Boiler Quotation Comms' customer_id  %}">Boiler Quotation Follow-up Comms</a>
        </div>
        <div class = "col-8 comms-text">    
            <i>Hi ____, We tried calling you today to follow up on the quotation...</i>
            <!-- <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name]</p> -->
        </div>
    </div>        
    <div class="row comms-row">
        <div class = "col-4">      
            <a class="btn boilerbtn btn-warning btn-comms" href="{% url 'PreviewComms' 'Are You Still Looking Comms' customer_id  %}">Goodbye Comms (Are you still looking)</a>
        </div>
        <div class = "col-8 comms-text">  
            <i>Hi ____, Just a quick one from us — we wanted to check in and see where you’re at with your boiler quote.</i>
            <!-- <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name] [Survey Date]</p> -->
        </div>
    </div>
    <div class="row comms-row">
        <div class = "col-4">                      
            <a class="btn boilerbtn btn-warning btn-comms" href="{% url 'GetSpecialOffer' customer_id %}">Special Offer Comms</a>
        </div>
        <div class = "col-8 comms-text">    
            <i>Hi ____, Thank you again for the opportunity to visit and provide your fixed price quotation for your new boiler...</i>
            <!-- <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name] [Customer ID]</p> -->
        </div>
    </div>
    <div class="row comms-row">
        <div class = "col-4">                      
            <a class="btn boilerbtn btn-warning btn-comms" href="{% url 'PreviewComms' 'Quote Comparison Helper Comms' customer_id  %}">Quote Comparison Helper Comms</a>
        </div>
        <div class = "col-8 comms-text">    
            <i>Hi ____, If you’re currently looking at a few quotes for your new boiler, you’re definitely not alone...</i>
            <!-- <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name] [Customer ID]</p> -->
        </div>
    </div>
    <div class="row comms-row">
        <div class = "col-4">              
            <a class="btn boilerbtn btn-warning btn-comms" href="{% url 'PreviewComms' 'Installation Notification Comms' customer_id  %}">Resend Installation Notification Comms</a>
        </div>
        <div class = "col-8 comms-text">
            <i>Hi ____, Thank you for choosing Plumble as your trusted boiler installation specialist...</i>
            <!-- <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name] [Installation Date] [Brand] [Engineer Name]</p> -->
        </div>
    </div>
    <div class="row comms-row">
        <div class = "col-4">                      
            <a class="btn boilerbtn btn-warning btn-comms" href="{% url 'PreviewComms' 'What Happens Next Comms' customer_id  %}">What Happens Next Comms</a>
        </div>
        <div class = "col-8 comms-text">    
            <i>Hi ____, If you’re thinking about moving forward with your new boiler...</i>
            <!-- <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name] [Customer ID]</p> -->
        </div>
    </div>
    <div class="row comms-row">
        <div class = "col-4">                      
            <a class="btn boilerbtn btn-warning btn-comms" href="{% url 'PreviewComms' 'Common Questions Answered Comms' customer_id  %}">Common Questions Answered Comms</a>
        </div>
        <div class = "col-8 comms-text">    
            <i>Hi ____, We know replacing a boiler isn’t something you do every day...</i>
            <!-- <p class="critical_ss_fields">&nbsp;&nbsp;[Customer Title] [Customer Last Name] [Customer ID]</p> -->
        </div>
    </div>
   
    
    <hr>
    <!-- <div class="row">
        <div class = "col-3">
            &nbsp;
        </div>
        <div class = "col-9">
            <h4>Customer Finance Administration</h4>
        </div>
        
    </div> -->
    

    <!-- <div class="row">
        <div class = "col-4">
            &nbsp;
        </div>
        <div class = "col-2">
            <a class="btn boilerbtn {% if customer_status == '4' and finance_status == '' or finance_status == 'DI' %} btn-dark {% else %} btn-secondary disabled {% endif %}" href="{% url 'PreviewComms' 'Deposit Invoice Comms' customer_id  %}">Deposit Invoice</a>
        </div>
        <div class = "col-2">
            <a class="btn boilerbtn {% if finance_status == 'DI' %} btn-dark {% else %} btn-secondary disabled {% endif %}" href="{% url 'PreviewComms' 'Deposit Receipt Comms' customer_id  %}">Deposit Receipt</a>
        </div> 
        <div class = "col-2">
            <a class="btn boilerbtn {% if customer_status == '6' and finance_status == 'DR' or finance_status == 'BI' %} btn-dark {% else %} btn-secondary disabled {% endif %}" href="{% url 'PreviewComms' 'Balance Invoice Comms' customer_id  %}">Balance Invoice</a>
        </div>
        <div class = "col-2">
            <a class="btn boilerbtn {% if finance_status == 'BI' %} btn-dark {% else %} btn-secondary disabled {% endif %}" href="{% url 'PreviewComms' 'Balance Receipt Comms' customer_id  %}">Balance Receipt</a>
        </div> 
    </div> -->

    <!-- {% if finance_status != '' %}
    <div class="row">
        <div class = "col-3">
            &nbsp;
        </div>
        <div class = "col-9">
            <h5>Status:
                {% if finance_status == 'DI' %}
                    &nbsp; Deposit Invoice sent
                {% endif %}
                {% if finance_status == 'DR'%}
                    &nbsp; Deposit Receipt sent
                {% endif %}
                {% if finance_status == 'BI'%}
                    &nbsp; Balance Invoice sent
                {% endif %}
                {% if finance_status == 'BR'%}
                    &nbsp; Balance Receipt sent
                {% endif %}
            </h5>
        </div>
        
    </div>
    {% endif %} -->
      
    <div class="row comms-row">
        <div class = "col-4">            
            <a class="btn btn-secondary" href="/ProcessingCancelled/">Cancel</a>
        </div>
        <div class = "col-8">

        </div>
    </div>

</div>

{% endblock %}