{% extends "yourheat/adminpages/basemobile.html" %}

{% block content %}

<div class="w3-container events__container">
    <div class="w3-cell-row headers">
        <div class="w3-cell" style="width:100%">
            View Photos: 
        </div>
    </div>
</div>


<div>
    {% for photo in photos %}
    <div>
        <div class="photo__container">
            <img class = "photo__img" src="{{ photo.url }}">
        </div>
    </div>

    {% empty %}
        <p>No photos</p>
    {% endfor %}    
</div>
 

<div class="w3-container events__container">
    <div class="w3-cell-row">
        <div class="w3-cell" style="width:5%">
            <button class="btn form__back-button w3-button" onclick="goBack()"><i class="fas fa-arrow-circle-left"></i></button>
        </div>
        <div class="w3-cell" style="width:95%">

        </div>
    </div>
</div>



{% endblock %}