{% extends "yourheat/adminpages/basemobile.html" %}

{% block content %}

<div class="w3-container events__container">
    <div class="w3-cell-row headers">
        <div class="w3-cell" style="width:100%">
            View Quote: 
        </div>
    </div>
</div>


<div>
    <div>
        <div>
            <embed src="{{ quote.url }}" width="450" type="application/pdf">
        </embed>
        </div>
    </div>
</div>
 

<div class="w3-container events__container">
    <div class="w3-cell-row">
        <div class="w3-cell" style="width:5%">
            <button class="btn form__back-button w3-button" onclick="goBack()"><i class="fas fa-arrow-circle-left"></i></button>
        </div>
        <div class="w3-cell" style="width:95%">

        </div>
    </div>
</div>



{% endblock %}