{% extends "yourheat/adminpages/basemobile.html" %}


{% block content %}

<h4 class="engineer__heading">Job Details</h4>

<div class="w3-container events__container">
    <div class="w3-cell-row headers">
        <div class="w3-cell" style="width:90%">
            Job Description
        </div>
    </div>
</div>

<div class="w3-container events__container">
    <div class="w3-cell-row">
        <div class="w3-cell" style="width:100%">
            {% if '<br>' in job_description %}
                {{ job_description|safe }}
            {% else %}
                {{ job_description|linebreaks }}
            {% endif %}
        </div>
    </div>
</div>

<br>

<div class="button_container">

            {% if 'YH' in customer_id %}
                <a href="\EngineerHubGetSSAttachments\{{ customer_id }}\Photos\" class="form__custom-button">View Photos</a>
            {% endif %}
            {% if 'YH' in customer_id %}
                <a href="\EngineerHubPhotoSelect\{{ customer_id }}\{{ engineer_name }}\" class="form__custom-button">Upload Photos</a>
            {% endif %}
            {% if 'YH' in customer_id %}
                <a href="\EngineerHubGetSerialNumbers\{{ customer_id }}\{{ engineer_name }}\" class="form__custom-button">Serial Num(s)</a>
            {% endif %}
</div>

<div class="w3-container">
    <div class="w3-cell-row">
        <div class="w3-cell" style="width:5%">
            <button class="btn form__back-button w3-button" onclick="goBack()"><i class="fas fa-arrow-circle-left"></i></button>
        </div>

        
        <div class="w3-cell" style="width:90%">
            
        </div>
    </div>
</div>


{% endblock %}

