{% extends "yourheat/adminpages/base.html" %}

{% block content %}
<div class="container">
    <h4>Installation Appointment Details</h4>

    <form method="POST">

        {% csrf_token %}

        <div class = "row">
            <div class = "col-4">
                <div class="form-group">
                    <label>{{form.engineer.label}}</label>
                    {{ form.engineer }}
                    
                </div>
            </div>
            <div class = "col-4">
                <div class="form-group">
                    <label>{{form.installation_date.label}}</label>
                    {{ form.installation_date}}
                   
                </div>
            </div>
            <div class = "col-4">
                <div class="form-group">
                    <label>{{form.installation_days_required.label}}</label>
                    {{ form.installation_days_required}}
                </div>
            </div>
        </div>
        <hr>
        <div class = "row">
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.smartsheet_id.label}}</label>
                    {{ form.smartsheet_id }}
                    
                </div>
            </div>
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.customer_title.label}}</label>
                    {{ form.customer_title}}
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.customer_first_name.label}}</label>
                    {{ form.customer_first_name }}
                    
                </div>
            </div>
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.customer_last_name.label}}</label>
                    {{ form.customer_last_name}}
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.customer_primary_phone.label}}</label>
                    {{ form.customer_primary_phone }}
                    
                </div>
            </div>
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.customer_email.label}}</label>
                    {{ form.customer_email}}
                </div>
            </div>
        </div>
        <hr>
        <div class = "row">
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.house_name_or_number.label}}</label>
                    {{ form.house_name_or_number }}
                    
                </div>
            </div>
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.street_address.label}}</label>
                    {{ form.street_address}}
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.city.label}}</label>
                    {{ form.city }}
                    
                </div>
            </div>
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.county.label}}</label>
                    {{ form.county}}
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.postcode.label}}</label>
                    {{ form.postcode }}
                    
                </div>
            </div>
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.surveyor.label}}</label>
                    {{ form.surveyor}}
                </div>
            </div>
        </div>
        <hr>
        <div class = "row">
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.boiler_brand.label}}</label>
                    {{ form.boiler_brand }}
                    
                </div>
            </div>
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.agreed_boiler_option.label}}</label>
                    {{ form.agreed_boiler_option }}
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.system_wanted.label}}</label>
                    {{ form.system_wanted}}
                    
                </div>
            </div>
            <div class = "col-6">
                <div class="form-group">
                    
                </div>
            </div>
        </div>

        <hr>
        
        <div class = "row">
            <div class = "col-12">
                <div class="form-group">
                    <label>{{form.additional_information.label}}</label>
                    {{ form.additional_information }}
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-12">
                <div class="form-group">
                    <label>{{form.surveyor_notes.label}}</label>
                    {{ form.surveyor_notes }}
                </div>
            </div>
        </div>
        <hr>
        <div class = "row">
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.lead_booker.label}}</label>
                    {{ form.lead_booker }}
                    
                </div>
            </div>
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.customer_confirmed.label}}</label>
                    {{ form.customer_confirmed}}
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.survey_attendee.label}}</label>
                    {{ form.survey_attendee }}
                    
                </div>
            </div>
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.brand_preference.label}}</label>
                    {{ form.brand_preference}}
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.current_boiler_location.label}}</label>
                    {{ form.current_boiler_location }}
                    
                </div>
            </div>
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.location_of_new_boiler.label}}</label>
                    {{ form.location_of_new_boiler}}
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.parking_and_access.label}}</label>
                    {{ form.parking_and_access }}
                    
                </div>
            </div>
            <div class = "col-6">
                <div class="form-group">
                    <label>{{form.customer_interested_in_bring_forward.label}}</label>
                    {{ form.customer_interested_in_bring_forward}}
                </div>
            </div>
        </div>

        <button class="btn boilerbtn btn-warning" type="submit">Generate Appointment</button>

        <a href="{% url 'ProcessingCancelled' %}" class="btn btn-secondary">Cancel</a>

    </form>
    <br>
</div>
{% endblock content %}