{% extends "yourheat/adminpages/base.html" %}

{% block content %}

<div class="container">

    <h4>{{comms}}</h4>

    <iframe id="comms_iframe" height=500px width="100%" src="{% url 'DisplayComms' comms customer_id %}">
    </iframe>


    <br><br>
    <!-- <a class="btn btn-primary" href="/RecommendAFriend/" target="_blank">Preview Email Message in new tab</a> -->
    {% if comms == "Deposit Invoice Comms" %}
        <a class="btn btn-warning" href="/ViewInvoicePDF/{{customer_id}}/DepositInvoice" target="_blank">Preview Deposit Invoice</a>
    {% endif %}
    {% if comms == "Balance Invoice Comms" %}
        <a class="btn btn-warning" href="/ViewInvoicePDF/{{customer_id}}/BalanceInvoice" target="_blank">Preview Balance Invoice</a>
    {% endif %}
    {% if comms == "Deposit Receipt Comms" %}
        <a class="btn btn-warning" href="/ViewReceiptPDF/{{customer_id}}/DepositReceipt" target="_blank">Preview Deposit Receipt</a>
    {% endif %}
    {% if comms == "Balance Receipt Comms" %}
        <a class="btn btn-warning" href="/ViewReceiptPDF/{{customer_id}}/BalanceReceipt" target="_blank">Preview Balance Receipt</a>
    {% endif %}
    <a class="btn btn-primary" href="/EmailComms/{{comms}}/{{customer_id}}">Email to Customer</a>
    <a class="btn btn-secondary" href="/ProcessingCancelled/">Cancel</a>

</div>


{% endblock %}