{% extends "base.html" %}

{% block title %}Site Login{% endblock title %}

{% block content %}

<div class="container">

  <h2>Change Password</h2>

  <form method="POST">
    {% csrf_token %}

    <div class="form-group">
      <label for="changePasswordOld">Old Password</label>
      <input name="old_password" type="password" class="form-control" id="changePasswordOld" placeholder="Old Password"
        required autofocus>
    </div>

    <div class="form-group">
      <label for="changePasswordNew">New Password</label>
      <input name="new_password1" type="password" class="form-control" id="changePasswordNew" placeholder="New Password"
        required>
    </div>

    <div class="form-group">
      <label for="changePasswordNewConf">Confirm New Password</label>
      <input name="new_password2" type="password" class="form-control" id="changePasswordNewConf"
        placeholder="Confirm New Password" required>
    </div>

    <button type="submit" class="btn btn-primary" value="Login">Submit</button>
    <a class="btn btn-secondary" href="{% url 'home'%}">Cancel</a>

  </form>

</div>

<ul>
  <li>Make sure your password is not similar to your other personal information.</li>
  <li>Your password must contain at least 8 characters.</li>
  <li>Your password shouldn't be a commonly used password i.e 123456789, password1 etc</li>
  <li>Your password can't be entirely numeric</li>
</ul>

{% endblock content %}