{% extends "base.html" %}

{% block content %}

<div class="container component-details-container">
    <div class="row">
        <div class="col-12">
            <h2>List of Optional Extras</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
        </div>
    </div>

    <div class="row price-list-headings">
        <div class="col-6">
            <h4>Product Name</h4>
        </div>
        <div class="col-4">
            <h4>Price</h4>
        </div>
        <div class="col-2">
            <h4>Action</h4>
        </div>
    </div>

    {% for extra in optional_extra_by_user %}
    <div class="row">
        <div class="col-6">
            {{ extra.product_name }}     
        </div>

        <div class="col-4">
            £{{ extra.price}} / EA
        </div>

        <div class="col-2">
            <a href="{% url 'optionalextraupdate' extra.pk %}" class="btn btn-primary btn-sm" role="button">Edit</a>
            <a href="{% url 'optionalextradelete' extra.pk  %}" class="btn btn-secondary btn-sm" role="button">Del</a>
        </div>

    </div>

    {% empty %}
        <div class="row">

        <p class="text-muted product-list-sub-text">You have no optional extra products registered.</p>

        {% endfor %}
    </div>

    <a href="{% url 'optionalextracreate' %}" class="btn btn-primary" role="button">Add</a>


{% if is_paginated %}
<div class="row">
    <div class="col-12">

        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="page-item"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="page-item"><span class="page-link">&raquo;</span></li>
        {% endif %}
        </ul>
    </div>
</div>
{% endif %}
      

</div>
{% endblock content %}