{% extends "base.html" %}

{% block content %}



<div class="container-fluid component-details-container">
    <div class="row">
        <div class="col-12">
            <h2>List of Components</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
        </div>
    </div>

    <div class="row price-list-headings">
        <div class="col-2">
            <a href="/productcomponentlist/"><h5>Type</h5></a>
        </div>
        <div class="col-2">
            <h5>Brand</h5>
        </div>
        <div class="col-4">
            <h5>Component</h5>
        </div>
        <div class="col-2">
            <h5>Price/Cost/Time</h5>
        </div>
        <div class="col-2">
            <h5>Action</h5>
        </div>
    </div>

    {% for comp in components_by_user %}
    <div class="row component-row">
        <div class="col-2">
            <h6><a href="/productcomponentlist/?filter={{comp.component_type}}">{{ comp.component_type|slice:":30" }}</a></h6>
        </div>
        <div class="col-2">
            <h6>{{ comp.brand }}</h6>
        </div>
        <div class="col-4">
            <h6>{{ comp.component_name}}</h6>
        </div>
        <div class="col-2">
            <h6>£{{ comp.price }}/£{{ comp.cost }}/{{comp.est_time_duration}}hrs</h6>
        </div>
        <div class="col-2">
            <a href="{% url 'productcomponentupdate' comp.pk %}" class="btn btn-primary btn-sm" role="button">Edit</a>
            <a href="{% url 'productcomponentdelete' comp.pk  %}" class="btn btn-secondary btn-sm" role="button">Del</a>
        </div>

    </div>

    {% empty %}
        <div class="row">

        <p class="text-muted product-list-sub-text">You have no products registered.</p>

        {% endfor %}
    </div>

    <a href="{% url 'productcomponentcreate' %}" class="btn btn-primary" role="button">Add</a>

{% if is_paginated %}
<div class="row">
    <div class="col-12">

        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{%if 'filter' in request.get_full_path %}&filter={{components_by_user.0.component_type}}{%endif%}">&laquo;</a></li>
        {% else %}
            <li class="page-item"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}            
            <li class="page-item"><a class="page-link" href="?page={{ i }}{%if 'filter' in request.get_full_path %}&filter={{components_by_user.0.component_type}}{%endif%}">{{ i }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{%if 'filter' in request.get_full_path %}&filter={{components_by_user.0.component_type}}{%endif%}">&raquo;</a></li>
        {% else %}
            <li class="page-item"><span class="page-link">&raquo;</span></li>
        {% endif %}
        </ul>
    </div>
</div>
{% endif %}
      

</div>
{% endblock content %}