<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Customer Comms</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

        * {
            font-family: 'Poppins', sans-serif;
        }

        body {
            text-align: center;
        }

        .all_text {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            text-align:justify;
        }

        .centered-text {
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            text-align:center;
        }

        .special_text {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            text-align:left;
        }

        .contact_text {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            text-align: center;
        }

        .contact_text a {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            text-align: center;
        }

        .body_text {
            position: relative;
            width: 99%;
            margin: 0 auto;
        }

        #final-strap-line {
            text-align: center;
            color: rgb(34, 34, 34);
        }

        #final-strap-text {
            font-family: verdana;
            font-style: italic;
            font-size: 14px;
            font-weight: 800;
        }

        #img2 {
            position: relative;
            top: 20px;
        }

        .text_header {
            font-family: 'Poppins', sans-serif;
            font-size: 22px;
            color: white;
            bottom:90px;
            position:relative;
        }


        .background_footer {
            width: 99%;
            height: 80px;
            background-position: center;
            background-color: #585858;
            margin: 25px auto 0px auto;
            padding-left:5%;
            padding-right:5%;
        }

        .footer_text {
            color: white;
            font-size: 12px;
            text-align: right;
        }

        .left {
            float: left;
            margin: 1.5rem 2rem 2rem 2rem;

        }

        .right {
            margin: .4rem 2rem 2rem 2rem;
            float: right;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
        .email_header img {
            width:99%;
        }

        .email_button {
            border-radius: 5px;
        }

        .email_button a {
            padding: 8px 12px;
            border: 3px solid #f07e39;
            border-radius: 5px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 20px;
            color: #ffffff; 
            text-decoration: none;
            /* font-weight: bold; */
            display: inline-block;  
        }

        tr {
            height: 2rem;
            vertical-align: middle;
        }

        .left-column {
            /* border: 5px solid orange; */
            padding-top:5px;
            padding-bottom:5px;
            width:250px;
            padding-left:20px;
            text-align: left;
        }

        .data-column-on {
            border: 5px solid #0ed145;
            border-radius: 25px 0px 25px 0px;
            width:250px;
            text-align: center;
        }

        .data-column-off {
            /* border: 5px solid orange;
            border-radius: 25px 0px 25px 0px; */
            padding:5px;
            width:250px;
            text-align: center;
        }

        .features-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr; /* fraction*/
            /* text-align: center; */
        }

        table {
            width:99%;
            margin: 2px;
            /* text-align: center; */
        }

        th {
            text-align: center;
        }

        td {
            text-align: center;
        }

        .bigbold {
            font-size: 1.5rem;
            font-weight: 600;
        }

        .bold {
            font-size: 1.1rem;
            font-weight: 600;
        }

        .features {
            line-height:1;
            font-size:1rem;        
        }

        .fbold {
            font-weight: 600;    
        }

        .text-orange {
            color: rgb(251, 126, 51);
        }



    </style>
</head>

<body>
    <!-- <div class="email_header"> -->
        <img src='https://www.qpcentral.co.uk/static/images/plumble_email_header_care_plan.png' alt="Plumble Header"/>
    <!-- </div> -->

    <div class="body_text">

        <div class="content">
            <div class="contact_text">
                <img src='https://www.qpcentral.co.uk/static/images/phone-solid.png' width="15" /> <a
                    href="tel:01732622990">01732 622990</a> | <img
                    src='https://www.qpcentral.co.uk/static/images/globe-solid.png' width="15" /> <a
                    href='https://www.plumble.co.uk/book-a-job/'>www.plumble.co.uk</a> | <img
                    src='https://www.qpcentral.co.uk/static/images/envelope-solid.png' width="15" /> <a
                    href='mailto:hello@plumble.co.uk'>hello@plumble.co.uk</a>
            </div>

            <p class="all_text">
                <b>PLUMBLE CARE PLAN</b><br>
            </p>

            <p class="all_text">Dear {{ customer_title }} {{ customer_last_name }},</p>

            <!-- Insert Email body content here  -->

            <p class="all_text">
                {% if customer_plan_type == "Prospective Home Owner" or customer_plan_type == "Prospective Landlord" %}
                Thank you for taking the time to view our range of care plans.  We have sent you the plans based on your installation with us.
                This would be a 12 month rolling contract, which automatically renews each year.
                {% else %}
                Plumble would like to welcome you to your new care plan.  You have signed up to the {{ fuel_type }} / {{ type_of_plan }}.
                This is a 12 month rolling contract, which will automatically renew each year.
                {% endif %}
            </p>

            <p class="all_text">
            {% if customer_plan_type == "Prospective Home Owner" or customer_plan_type == "Prospective Landlord" %}
                What’s included in our plans are demonstrated in the chart below. 
            {% else %}
                Included in your plan {{ type_of_plan }} is demonstrated in the chart below. 
            {% endif %}
            </p>

            <!-- <hr> -->


            <!-- <div class="features-container"> -->
                <table>
                    <tr>
                        <td style="width:250px; text-align:center;">    
                            <div class="left-column">
                               
                                <p class = "features fbold">&nbsp;</p>
                                <p class = "features fbold">&nbsp;</p>		
                               
                                            {% if fuel_type == "Gas Boiler" %}    
                                            <p class = "features"><span class="bold">Gas Boiler</span><span class="bigbold">&nbsp;</span></p>
                                            {% else %}
                                            {% if "Prospective" in customer_plan_type and fuel_type == "Not Yet Determined" %} 
                                            <p class = "features">Gas Boiler<span class="bigbold">&nbsp;</span></p>
                                            {% endif %}
                                            {% endif %}
                                            <!-- <p class = "features"><span class="bigbold">&nbsp;</span></p> -->
                               
                                            {% if fuel_type == "LPG Boiler" %}    
                                            <p class = "features"><span class="bold">LPG Boiler</span><span class="bigbold">&nbsp;</span></p>
                                            {% else %}
                                            {% if "Prospective" in customer_plan_type and fuel_type == "Not Yet Determined" %} 
                                            <p class = "features">LPG Boiler<span class="bigbold">&nbsp;</span></p>
                                            {% endif %}
                                            {% endif %}
                                            <!-- <p class = "features"><span class="bigbold">&nbsp;</span></p> -->
                               
                                            {% if fuel_type == "Oil Boiler" %}    
                                            <p class = "features"><span class="bold">Oil Boiler</span><span class="bigbold">&nbsp;</span></p>
                                            {% else %}
                                            {% if "Prospective" in customer_plan_type and fuel_type == "Not Yet Determined" %} 
                                            <p class = "features">Oil Boiler<span class="bigbold">&nbsp;</span></p>
                                            {% endif %}
                                            {% endif %}
                                            <!-- <p class = "features"><span class="bigbold">&nbsp;</span></p> -->
                               
                                            <p class = "features"><span class="bigbold">&nbsp;</span></p>
                               
                               
                                            <p class = "features">Annual Boiler Service</p>
                                  
                                            <p class = "features">System Health Check</p>
                                
                                    {% if "Landlord" in customer_plan_type %}
                                  
                                            <p class = "features">Landlord Certificate (CP12)**</p>
                                   
                                    {% endif %}
                                  
                                            <p class = "features">Central Heating Controls</p>
                                     
                                            <p class = "features">Breakdown</p>
                                     
                                            <p class = "features">Parts & Labour*</p>
                                     
                                            <p class = "features">Radiators</p>
                                    
                                            <p class = "features">Tanks and Cylinders</p>
                                       
                            </div>

                        </td>

                    <td style="width:250px; text-align:center;">

                            {% if type_of_plan == "Boiler Service Care Plan" and "Confirmed" in customer_plan_type %}
                                <div class="data-column-on">
                            {% else %}
                                <div class="data-column-off">
                            {% endif %}

                                        <p class = "features fbold">
                                            {% if "Landlord" in customer_plan_type %}
                                                LANDLORD
                                            {% else %}
                                                HOME OWNER
                                            {% endif %}
                                        </p>
                                      
                                            <p class = "features fbold">Boiler Service Care Plan</p>
                                    
                                            {% if "Prospective" in customer_plan_type and fuel_type == "Not Yet Determined" or fuel_type == "Gas Boiler" %}  
                                            <p class = "features"><span class="bigbold">
                                                {% if "Landlord" in customer_plan_type %}
                                                £9.50
                                                {% else %}
                                                £7
                                                {% endif %}
                                            </span> a month</p>
                                            {% endif %}
                                            
                                            {% if "Prospective" in customer_plan_type and fuel_type == "Not Yet Determined" or fuel_type == "LPG Boiler" %}
                                            <p class = "features"><span class="bigbold">
                                                {% if "Landlord" in customer_plan_type %}
                                                £9.50
                                                {% else %}
                                                £7
                                                {% endif %}
                                            </span> a month</p>
                                            {% endif %}
                                    
                                            {% if "Prospective" in customer_plan_type and fuel_type == "Not Yet Determined" or fuel_type == "Oil Boiler" %}
                                            <p class = "features"><span class="bigbold">
                                                {% if "Landlord" in customer_plan_type %}
                                                £14.50
                                                {% else %}
                                                £12
                                                {% endif %}
                                            </span> a month</p>
                                            {% endif %}

                                            <p class = "features"><span class="bigbold">&nbsp;</span></p>
                                    
                                            <p class = "features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                               
                                            <p class="features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                               
                                    {% if "Landlord" in customer_plan_type %}
                               
                                            <p class="features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                               
                                    {% endif %}
                               
                                            <p class="features"><img src='https://www.qpcentral.co.uk/static/images/times-solid.png' width="15" /></p>
                               
                                            <p class="features"><img src='https://www.qpcentral.co.uk/static/images/times-solid.png' width="15" /></p>
                               
                                            <p class="features"><img src='https://www.qpcentral.co.uk/static/images/times-solid.png' width="15" /></p>
                               
                                            <p class="features"><img src='https://www.qpcentral.co.uk/static/images/times-solid.png' width="15" /></p>
                               
                                            <p class="features"><img src='https://www.qpcentral.co.uk/static/images/times-solid.png' width="15" /></p>

                            </div>
                        </td>

                        <td style="width:250px; text-align:center;"> 

                            {% if type_of_plan == "Boiler & Controls Care Plan" and "Confirmed" in customer_plan_type %}
                                <div class="data-column-on">
                            {% else %}
                                <div class="data-column-off">
                            {% endif %}
                                        <p class = "features fbold">
                                            {% if "Landlord" in customer_plan_type %}
                                            LANDLORD
                                            {% else %}
                                            HOME OWNER
                                            {% endif %}
                                        </p>
                                            
                                        <p class = "features fbold">Boiler & Controls Care Plan</p>	
                                        
                                        {% if "Prospective" in customer_plan_type and fuel_type == "Not Yet Determined" or fuel_type == "Gas Boiler" %}  
                                        <p class = "features"><span class="bigbold">
                                                {% if "Landlord" in customer_plan_type %}
                                                £18.50
                                                {% else %}
                                                £16.50
                                                {% endif %}
                                            </span> a month</p>
                                        {% endif %}
                                  
                                        {% if "Prospective" in customer_plan_type and fuel_type == "Not Yet Determined" or fuel_type == "LPG Boiler" %}  
                                        <p class = "features"><span class="bigbold">
                                            {% if "Landlord" in customer_plan_type %}
                                            £18.50
                                            {% else %}
                                            £16.50
                                            {% endif %}
                                        </span> a month</p>
                                        {% endif %}
                            
                                        {% if "Prospective" in customer_plan_type and fuel_type == "Not Yet Determined" or fuel_type == "Oil Boiler" %}  
                                        <p class = "features"><span class="bigbold">
                                            {% if "Landlord" in customer_plan_type %}
                                            £24
                                            {% else %}
                                            £21.50
                                            {% endif %}
                                        </span> a month</p>
                                        {% endif %}
                              
                                            <p class = "features"><span class="bigbold">&nbsp;</span></p>
                                 
                                
                                            <p class = "features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                                 
                                            <p class = "features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                                
                                    {% if "Landlord" in customer_plan_type %}
                                 
                                            <p class = "features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                                   
                                    {% endif %}
                                  
                                            <p class = "features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                                  
                                            <p class = "features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                                 
                                            <p class = "features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                                    
                                            <p class = "features"><img src='https://www.qpcentral.co.uk/static/images/times-solid.png' width="15" /></p>
                                     
                                            <p class = "features"><img src='https://www.qpcentral.co.uk/static/images/times-solid.png' width="15" /></p>
                                      
                            </div>
                        </td>

                    <td style="width:250px; text-align:center;"> 

                            {% if type_of_plan == "Full System Care Plan" and "Confirmed" in customer_plan_type  %}
                                <div class="data-column-on">
                            {% else %}
                                <div class="data-column-off">
                            {% endif %}
                                        <p class = "features fbold">
                                            {% if "Landlord" in customer_plan_type %}
                                            LANDLORD
                                            {% else %}
                                            HOME OWNER
                                            {% endif %}
                                        </p>

                                        <p class = "features fbold">Full System Care Plan</p>

                                        {% if "Prospective" in customer_plan_type and fuel_type == "Not Yet Determined" or fuel_type == "Gas Boiler" %}  
                                             <p class = "features fbold"><span class="bigbold">
                                                {% if "Landlord" in customer_plan_type %}
                                                £24.50
                                                {% else %}
                                                £22
                                                {% endif %}
                                            </span> a month</p>
                                        {% endif %}
                                        
                                        {% if "Prospective" in customer_plan_type and fuel_type == "Not Yet Determined" or fuel_type == "LPG Boiler" %}  
                                            <p class = "features fbold"><span class="bigbold">
                                                {% if "Landlord" in customer_plan_type %}
                                                £24.50
                                                {% else %}
                                                £22
                                                {% endif %}
                                            </span> a month</p>
                                        {% endif %}
                                            
                                        {% if "Prospective" in customer_plan_type and fuel_type == "Not Yet Determined" or fuel_type == "Oil Boiler" %}  
                                            <p class = "features fbold"><span class="bigbold">
                                                {% if "Landlord" in customer_plan_type %}
                                                £30.50
                                                {% else %}
                                                £28
                                                {% endif %}
                                            </span> a month</p>
                                        {% endif %}
                                       
                                            <p class = "features fbold"><span class="bigbold">&nbsp;</span></p>
                                    
                               
                                            <p class="features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                                    
                                            <p class="features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                                   
                                    {% if "Landlord" in customer_plan_type %}
                                  
                                            <p class="features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                                      
                                    {% endif %}
                                   
                                            <p class="features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                                     
                                            <p class="features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                                     
                                            <p class="features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                                       
                                            <p class="features"><img src='https://www.qpcentral.co.uk/static/images/check-solid-green.png' width="15" /></p>
                                       
                                            <p class="features"><img src='https://www.qpcentral.co.uk/static/images/times-solid.png' width="15" /></p>
                                       
                            </div>
                        </td>
                    </tr>    
                </table>
            <!-- </div> -->

            <p class="all_text">
                {% if "Landlord" in customer_plan_type %}
                *Only applicable for boilers in warranty, boilers without warranty, labour is included, parts are charged at retail rate<br>
                **Up to 3 gas appliances (including the boiler)
                {% else %}
                *Only applicable for boilers in warranty, boilers without warranty, labour is included, parts are charged at retail rate
                {% endif %}
            </p>

            
            <!-- <hr> -->
            <p class="centered-text">
                <b>Speedy</b><br>
                <img src='https://www.qpcentral.co.uk/static/images/shipping-fast-solid-grey.png' width="30" /><br>
                90% of all emergency call-outs completed within 24 hours.<br><br>

                <b>Fair</b><br>
                <img src='https://www.qpcentral.co.uk/static/images/handshake-solid-grey.png' width="30" /><br>
                Your price won’t change even if you have had a call-out. Ever.<br><br>

                <b>Comprehensive</b><br>
                <img src='https://www.qpcentral.co.uk/static/images/clipboard-check-solid-grey.png' width="30" /><br>
                No matter the age or model, your boiler is protected. Can't fix it? We’ll give you 15% off a new one.<br><br>

                <b>Value</b><br>
                <img src='https://www.qpcentral.co.uk/static/images/pound-sign-solid-grey.png' width="30" /><br>
                Switching to Plumble can on average save you up to 20% compared to other providers.<br><br>

                <b>No Excess</b><br>
                <img src='https://www.qpcentral.co.uk/static/images/times-circle-solid-grey.png' width="30" /><br>
                With our plans, we don’t charge an excess, what you see, is what you pay<br><br>

                {% if not "Confirmed" in customer_plan_type %}
                <b>Extend your Guarantee</b><br>
                <img src='https://www.qpcentral.co.uk/static/images/fast-forward-solid-grey.png' width="30" /><br>
                Did we install your boiler?  You could benefit from an extended guarantee with us<br><br>
                {% endif %}
            </p>
            
            
            <p class="all_text">
                {% if "Confirmed" in customer_plan_type %}
                If you have any questions, please call us on <a href="tel:01732622990">01732 622990</a> or email via <a href='mailto:hello@plumble.co.uk'>hello@plumble.co.uk</a>
                {% else %}
                If you wish to sign up to one of the plans, you can do so online <b><a href="https://plumble.co.uk/care-plan-pricing/">BY CLICKING HERE</a></b>, it takes less than a minute.<br>
                You can also talk to us here by calling <a href="tel:01732622990">01732 622990.</a>
                {% endif %}
            </p>
            <p>&nbsp;</p>

            <!-- End of Email body content  -->

            <div id="final-strap-line">
                <p id="final-strap-text">"Our friendly team will provide you with an efficient service, delivered with a
                    sense of warmth."</p>
            </div>

        </div>

    </div>

    <p>&nbsp;</p>    


    <table class="background_footer">
        <tr>
            <td>
                <img src='https://www.qpcentral.co.uk/static/images/plumble_logo_white_text.png' width="150">  
            </td>
            <td>
                <p class="footer_text">Copyright © 2024 Plumble Ltd | VAT No. 458261280</p>
                <p class="footer_text"><a href='https://www.plumble.co.uk/terms-conditions/'>Terms and
                        Conditions</a></p> 
            </td>
        </tr>

    </table>

</body>

</html>